<section class="section_20">
	<div class="container">
		<div class="main_heading main_heading_wbg">
			<h1 class="table_h">Payment Guidlines</h1>
			<span></span>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="faq_div">
					<strong style="font-size: 20px;">Payment Guidelines for Online Visa Application</strong>
					<ul type="I">
						  <li>To avail online e-Visa services, you need fill online application form and after that next step is online payments.
							</li>
							<li>We accept Credit card / Debit Card / PayPal and Western Union methods for payments through our website.
							  </li>
							  <li>After payments, we will email you a copy of payment receipt on your email, when your order get complete.
								</li>
					</ul>
					<!-- <p>As per the guidelines of Indian Government Immigration Department, the Personal Data we collect from users are strictly used for the process of India e-Visa, which includes, applicants name, e-mail address, mailing address, credit card number and telephone number or any inquiries, we keep all these details totally confidential. We request our applicants to read the privacy Statement carefully before using our website.
					</p> -->
					<ul class="faq_ul" type="circle">
						<li>Online Secure technology</li>
						<p>Online payment, the third parties payment gateway make a promise to keep your online transactions protected from starting to last end.</p>
						<li>Visa, MasterCard, American Express</li>
						<p>You can use <strong>Visa, MasterCard</strong> or American Express to make<strong> PayPal</strong> payments. Another fast and easy option is paying with your bank account. Paying through<strong> PayPal</strong> is a convenient way to keep their spending under control so many members choose to pay with their bank accounts through this.
						</p>
						<!-- <p>We highly care and protect clients personal data, received us through the website from the <strong>loss, misuse, unauthorized access, disclosure, alteration or destruction</strong> or any other kind of online fraud.</p> -->
						<li>Western Union</li>
						<p>We also accept payment through any worldwide bank using<strong> Western Union service.</strong> We will send you name of receiver then you need to provide us the money transfer control number (MTCN) in order to finalize the payments.
						</p>
						<li>Issue Resolution</li>
						<p>If there is any problem with the transaction, or duel transaction, please contact us immediately. We will put your funds on hold until the issue is resolved.</p>
					</ul>
					<strong style="font-size: 20px;">Use the Internet Safely</strong>
					<ul type="I">
						  <li>Check for presence of an address, phone number, email contact, which indications that the website is genuine. If have any doubts, send an email or call us.
							</li>
							<li>Check the website’s address, by looking for subtle misspellings, extra words, characters or numbers etc.
							  </li>
							  <li>Be aware of websites that are advertised in unsolicited emails from strangers.
								</li>
								<li>Kindly note the web address should begin with ‘https://’. The ‘s’ stands for ‘secure’.
									</li>
					</ul>
					<strong style="font-size: 20px;">Safe Use of Browsers</strong>
						<p>The most common internet browsers enable you to manage your settings such as allowing and blocking selected websites, blocking pop ups and browsing in private.
								If there is any payment error, please email us: support [@]visacent.com								
						</p>
					<strong style="font-size: 20px;">Financial Transactions through the third party</strong><br />
					<p>To avail the facility of online payments on this site, we have integrated online payment tool. We accept payments through the Bank as Paypal pocket electronic services. To make our clients more comfortable we accept payments via credit cards, PayPal and direct online bank transfers too. The “Users”, Credit card, PayPal account details will be totally secured and transferred to our partners such as Paypal.com.
							If there is any payment error, please email us: support [@]visacent.com	<br />
							<span>Apart from above all online payments/transactions of users authentication including credit cards processing are conducted through Secure<strong> Socket Layer/ Transport Layer Security technology.</strong> We have the security certificate, verified by Symantec, it is one of the the best commercially available encryption on the Internet.</span>							
					</p>
					<strong style="font-size: 20px;">Noto: For the third party payment gateway, we are not responsible for any privacy policies or practices.</strong>
				</div>
			</div>
		</div>
	</div>
</section>