<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'" [color]="'#055ea5'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<section [hidden]="!pageHide">
    <div class="third-sec" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: 23px; text-align: center; font-weight: bolder;">Please note down your Temporary Application ID: <span style="text-align:center;color:#055ea5; ">{{order_id_decod_final}}</span></p>
                </div>
                <div class="col-md-12" style="text-align:center; font-size: 19px;">If you want to make any change into your visa application,
                    <br> Please write us support [@] visacent.com or Call/WhatsApp : +91-928-939-4665 Monday–Friday: 11:00 AM – 4:00 AM IST. </div>
            </div>
            <div class="row" id="pay_btn_div" style="margin-top:25px;">
                <div class="col-md-8 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #333;margin-bottom: 9px;text-transform: capitalize;">Select a payment method</h3>
                            <ul class="payment_method_ul">
                                <li id="paypal">
                                    <label><input type="radio" name="payment" value="paypal" checked /> Paypal <span class="paypal_icon">PayPal</span></label>
                                    <div>
                                         <div style="text-align: center;">
                                            <img src="assets/images/paypal.png" alt="paypal" style="height: 73px">
                                            <form class="paypal">
                                                <p style="text-align: left;">I, the applicant, hereby certify that I have read and understood all the statements / questions in this application, all terms and fee about the visa services. The answers and information furnished in this application are true and correct to the best of my knowledge and belief. I understand that the Visa fee once paid is non-refundable irrespective of the outcome of my application and doesn't in any way guarantee issuance of Visa by the Government of {{to_country_name_heading}}. I agree that I cannot cancel or amend this transaction. </p>
                                                <label style="font-size: 20px;cursor: pointer;">
                                                    <input type="checkbox" name="agree" id="agree" style="width: 20px; height: 20px; vertical-align: text-bottom;"> I agree.</label>
                                                <br>
                                                <span style="color: #055ea5; font-size: 14px;">Please check term and condition</span>
                                                <br />
                                                <br />

                                                <div class="paypal-no-drop" id="paypal_drop">
                                                    <div id="paypal-checkout-btn"></div>
                                                </div>
                                                    <p id="pay_fully_msg" style="color: #6ebc06eb;margin: 0px;font-size: 18px;"></p>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li id="payumoney">
                                    <label><input type="radio" name="payment" value="payumoney" /> PayUmoney <span class="payumoney_icon">PayUmoney</span></label>
                                    <div>
                                        <div style="text-align: center;">
                                            <img src="assets/images/payumoney.png" alt="paypal" style="height: 73px">
                                            <form class="paypal">
                                                <p style="text-align: left;">I, the applicant, hereby certify that I have read and understood all the statements / questions in this application, all terms and fee about the visa services. The answers and information furnished in this application are true and correct to the best of my knowledge and belief. I understand that the Visa fee once paid is non-refundable irrespective of the outcome of my application and doesn't in any way guarantee issuance of Visa by the Government of {{to_country_name_heading}}. I agree that I cannot cancel or amend this transaction. </p>
                                                <label style="font-size: 20px">
                                                    <input type="checkbox" name="agree" id="Umoneyagree" style=" width: 20px; height: 20px; vertical-align: text-bottom;"> I agree.</label>
                                                <br>
                                                <span style="color: #055ea5; font-size: 14px;">Please check term and condition</span>
                                                <br />
                                                <br />
                                                <p id="amount_not_fillerr" style="color: red;margin: 0px;font-size: 18px;"></p> 
                                            </form>
                                        </div>
                                    </div>
                                    <div class="payumoney-inner-wrapper">
                                        <div class="paypal-no-drop" id="Umoney_paypal_drop" style="position: relative;text-align: center;top: -23px;">
                                            <input type="button" id="Umoney_fully_msg" style="pointer-events: auto;background-color: #a1ca3a;color: white;width: 207px;font-size: 17px;height: 33px;border-radius: 16px;" (click)="payUmoneyUser()" class="custom-button" value="Pay with PayU"/>  
                                        </div>  
                                    </div>
                                    <form action={{action}} method="POST" name="payuForm" id="customButtonMoney"> 
                                        <input type="hidden" name="key" value={{key}} />
                                        <input type="hidden" name="hash" value={{hash}}/>
                                        <input type="hidden" name="txnid" value={{orderID}} />
                                        <input type="hidden" name="amount" value={{amount}} />
                                        <input type="hidden" name="firstname" id="firstname" value={{fname}} />
                                        <input type="hidden" name="email" id="email" value={{emailq}} />
                                        <input type="hidden" name="phone" value={{user_phone}} />
                                        <input type="hidden" name="productinfo" value={{productinfo}} />
                                        <input type="hidden" name="surl" value={{surl}}/>
                                        <input type="hidden" name="furl" value={{furl}}/>
                                        <input type="hidden" name="bonusUserChek" value={{bonusUserpayUmoney}}/>
                                        <input type="hidden" name="useBonus" value={{useBonus}}/>
                                        <input type="hidden" name="service_provider" value="payu_paisa" size="64" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div> 
                    <input type="hidden" id="keys" value="">
                </div>
                <div class="col-md-3">
                    <div class="payment_sidebar">
                        <h3> Order Summary</h3>
                        <ul>
                            <li><label>Application #:</label> {{order_id_decod_final}}</li>
                            <li><label>Email:</label> {{email}}</li>
                            <li><label>Arrival Date:</label> {{arrival_date}}</li>
                        </ul>   
                        <h3> Payments</h3>
                        <ul>
                            <li><label>Processing Type:</label> {{processing_type}}</li>
                            <li><label>Total Amount:</label> {{order_price_decod_final}} USD</li>
                            <!-- <div [hidden]="bonusUser==null">
                                <li><label>Bonus Amount:</label>&nbsp; {{bonusUser}} <span [hidden]="bonusUser==0">USD</span></li>
                                <input type="checkbox" id="refferalBonus" name="country" (click)="refferalBonus()" style="width:6%;height: 12px;cursor: pointer;"><label>&nbsp;&nbsp; Use Bonus</label><br/>    
                            </div> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" [hidden]="!pagePaymentDone">
    <button type="button" class="btn btn-info btn-lg hidden" id="modal_btn_paypal" data-toggle="modal" data-target="#myModalpay">Open Modal</button>
    <div class="modal fade" id="myModalpay" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="position: relative;top: 150px;">
                <div class="modal-body">
                    <p style="text-align: center;color:green;"><i class="fa fa-check" style="color:green;" aria-hidden="true"></i> You payment successfully done</p>
                </div>
                <div class="modal-footer" style="text-align: center;display:none;">
                    <button type="button" class="btn btn-success" id="modal_btn_paypal" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>