.next_btn
{
    padding: 8px 10px;
    text-decoration: none;
    background-color: #005ea5;
    color: white;
    box-shadow: 0px 2px 2px #00000030;
    border-color: #005ea5;
    cursor: pointer;
    position: relative;
    right: 1100px;
    bottom: 16px;
}
.loader{
    position: fixed;
    left: 445px;
    top:80px
}
.datafound
{
    position: relative;
    font-size: 28px;
    top: -22px;
}

.embassy_info_left a{
    cursor: pointer;
}
.datafound{
    position: relative;
    font-size: 28px;
    top: 108px;
}
.datafound{
    position: relative;
    font-size: 28px;
    top: -22px;
}
.textareaaddress {
    display: block;
    overflow: hidden;
    padding: 2px 7px 4px 7px;
    width: 100%;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.textarea{
    display: block;
    overflow: hidden;
    padding: 2px 7px 4px 7px;
    width: 100%;
    min-height: 35px;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.comments{
    display: block;
    overflow: hidden;
    background: #4A90E2;
    min-height: 100px;
    width: 100%;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.borderCls{
    border: 1px solid red;
}