.borderColor{
    border: 1px solid red;
}
#p1:hover,#p2:hover,#p1:focus,#p2:focus
{
    color:#3a84df;
    cursor: pointer;
}
.uncomplete
{
    position: relative;
}
.uncomplete>span
{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 29px;
    color: #ffffff;
    font-size: 15px;
    /* background: #fe484a; */
    padding: 1px 7px;
    border-radius: 48px;
    transform:scale(0,0);
    transition-duration:.3s;
}
.uncomplete span
{
    transform:scale(1,1);
    transition-duration:.3s;
}



/*------------------- start faq accordian -----------------*/
a.new{
    display: block;
    width: 100%;
    color: #333;
    font-size: 18px;
    padding: 15px 0px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 7px;
    border-bottom: 1px solid #d5d5d5;
    font-family: 'Hammersmith One';
}
a.new:last-of-type
{
    border-bottom:1px solid transparent
    ;
}
a.new:hover,a.new:focus{
    outline: none;
    text-decoration:none;
}
a.new>span
{
    float:right;
    margin-right:13px;  
    }
    a.new>span>img
{
    width:13px;
    }
.open{
    padding: 10px 0px;
    border-bottom: 3px solid white;
    display: none;
}
.rotate
{
    transform:rotate(90deg);
        
    }
.border-bottom
{
    border-bottom-color:#d5d5d5!important;
}
@media (max-width: 650px)
{
    a.new
    {
        position: relative;
        padding-right: 14px;
    }
    a.new > span
    {
        position: absolute;
        right: 0px;
        top: 18px;
        margin-right:0px;
    }
}

/*------------------- end faq accordian -----------------*/