<section class="section_30" style="background-color:#EDEFF1;padding-bottom: 0px;">
	<div class="container">
		<div class="our_program">
			<div class="main_heading main_heading_wbg">
				<h1 class="table_h">Our Referral Program</h1>
				<span ></span>
			</div>
			<p class="text-center">Make money through your network, invite your friends and</p>
			<p class="text-center" style="font-size: 32px;" *ngIf="!isnewUser">
				Earn $10 for every new applicant you refer
			</p>
			<p class="text-center">
				<span style="cursor:auto;">Nobody can tell the our story better than our customers.</span> Get a friend to start apply for a visa today and earn $10 when they complete their first application.
			</p>
			<p *ngIf="isnewUser" class="text-center" style="color: #73d934;
			padding: 4px 10px;
			border-radius: 30px;
			border:1px solid #73d934;
			box-shadow: inset 0px 0px 20px #73d93478;width: 80%;
    		margin-left: auto;
    		margin-right: auto;">
					Your account has been registered on Visacent. Your login credentials has been sent to your email. You can login using visacent.com/login and check your refferal bonus and update your information.
			</p>
			
			
		</div>
	</div>
</section>
<section class="section_30" style="background: #e4e6e7;">
	<div class="container">
		<form [hidden]="refferalShow" class="refer_form">
			<div class="mail_div">
				<div class="input_div">	
					<div class="element_container">
						<label id="lbl_appliId">Email Id </label>
						<input type="text" [(ngModel)]="email" maxlength="40" class="emailCls enable_white" style="width: 319px;" name="email" (keyup)="removclsAppli()"/>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 " style="text-align: center;margin-bottom:5px;">
						<span style="display: inline-block;">
						<re-captcha (resolved)="resolved($event)" siteKey="6LcPhVYUAAAAAELAie-U7clLL6AB0pZdKpO4OVwG"></re-captcha></span>
						<div *ngIf="captchaError" style="color:red;">*{{captchaError_msg}}</div>
					</div>
					<div class="col-sm-12 text-center">
						<button class="my_btn width_auto" (click)="refferalUser()">Get your referral link</button>
					</div>
				</div>
			</div>
		</form>
		
		<div class="" [hidden]="!refferalShow" style="text-align: center;">
			<div class="row url_row">
			<div class="col-sm-5 url_col">
				<p class="url_p url_p1">
					<span style="font-family: 'Hammersmith One';">Your Referral Url for <a href="https://visacent.com/">Visacent</a></span>
				</p>
			</div>
			<div class="col-sm-7">
				<p class="url_p">
					<span id="p1" (click)="copyToClipboard('#p1')" title="Click to copy url" data-toggle="tooltip"> https://visacent.com/apply-e-visa/?ref={{refferal}} &nbsp;<i class="fas fa-paste"></i></span>
					<span *ngIf="textCopyCompleteCent" class="uncomplete copied">
						Copied
					</span>
				</p>
			</div>
			</div>

			<div class="row url_row">
				<div class="col-sm-5 url_col">
					<p class="url_p url_p1">
						<span style="font-family: 'Hammersmith One';">Your Referral Url for <a href="https://indiaevisas.org" target="_blank" >India e-Visa</a>
						
						</span>
					</p>
				</div>
				<div class="col-sm-7">
					<p class="url_p">
						<span id="p2" (click)="copyToClipboar2('#p2')" title="Click to copy url"> https://indiaevisas.org/apply-visa/?ref={{indiaevisas_referral}} &nbsp;<i class="fas fa-paste"></i></span>
						<span *ngIf="textCopyCompleteIndia" class="uncomplete copied">
								Copied
						</span>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</section>
<section class="section_30" style="background-color:#005ea5;">
	<div class="container text-center">
		<div class="newsletter">
			<h1 class="text-center" style="margin-bottom: 15px;">Login to get your referral details.</h1>
			<!-- <p style="margin-bottom: 15px;">Use one of our logos or badges to help spread the word.</p> -->
			<div>
				<a class="my_btn width_auto" routerLink="/login" style= "font-family: 'Hammersmith One';background-color: #EDEFF1;color:#333;">Login to your account</a>
			</div>
		</div>	
	</div>
</section>
<section class="section_30">
	<div class="container">
		<h2 class="text-center" style="margin-bottom: 20px;">How It Works?</h2>
		<div class="row">
			<div class="col-sm-4">
				<article class="how_work">
					<i class="fas fa-link"></i>
					<h3>Share your unique link</h3>
					<p>Send your unique referral link via email or share it on Facebook, Twitter or other social media platform.</p>
					<!-- <img src="assets/images/arrow1.png" > -->
				</article>
			</div>
			<div class="col-sm-4">
				<article class="how_work">
					<i class="fas fa-calendar-check"></i>
					<h3>Friend Complete a Booking</h3>
					<p>Friends who sign up with your link, make their first Booking.</p>
					<!-- <img src="assets/images/arrow1.png" > -->
				</article>
			</div>
			<div class="col-sm-4">
				<article class="how_work">
					<i class="fas fa-gift"></i>
					<h3>Claim your reward</h3>
					<p>Once your friend complete first booking, you'll receive a $10 reward!</p>
				</article>
			</div>
		</div>
	</div>	
</section>
<section class="section_30" style="padding-top:0px;">
	<div class="container">
		<h2 class="text-center" style="margin-bottom: 20px;">FAQ's</h2>
		<div class="faq_accordian">
			<a href="javascript:void(0)" class='new'>Can I claim my bonus to someone else’s account? <span><i class="fas fa-chevron-right"></i></span></a>
        <div class="open">
            <p>No. You can only claim the bonus to your personal visacent account / paypal account / bank account.</p>
        </div>

        <a href="javascript:void(0)" class='new'>How much time will it take to receive my bonus after claiming it? <span><i class="fas fa-chevron-right"></i></span></a>
        <div class="open">
            <p>Your bonus will usually be paid out within 6 business days.</p>
        </div>

        <a href="javascript:void(0)" class='new'>In which currency will I receive my bonus? <span><i class="fas fa-chevron-right"></i></span></a>
        <div class="open">
           <p>You will receive your bonus in the USD in visacent account / in your paypal account or in your local currency of your bank account.
           </p>
        </div>

        <a href="javascript:void(0)" class='new'>When I may refer eligible to get bonus?
 <span><i class="fas fa-chevron-right"></i></span></a>
        <div class="open">
           <p>Once your friends who sign up with your link, make their first Booking ( complete a payment for their visa application / tour packages / or other services. amount should be $50 USD or more) you'll be eligible for a bonus of $10 USD.
			</p>
        </div>

        <a id="last_faq_a" href="javascript:void(0)" class='new'>How many people can I invite? <span><i class="fas fa-chevron-right"></i></span></a>
        <div class="open">
        	<p>
        		There is a daily limit of 100 invitations, but there is no overall limit on the total number of people you can invite nor the amount of referral credit you can earn.
        	</p>
        </div>

		</div>	
	</div>
</section>
<div *ngIf="process" class="preloader"> 
    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve">
        <g>
            <path d="M78.75 16.18V1.56a64.1 64.1 0 0 1 47.7 47.7H111.8a49.98 49.98 0 0 0-33.07-33.08zM16.43 49.25H1.8a64.1 64.1 0 0 1 47.7-47.7V16.2a49.98 49.98 0 0 0-33.07 33.07zm33.07 62.32v14.62A64.1 64.1 0 0 1 1.8 78.5h14.63a49.98 49.98 0 0 0 33.07 33.07zm62.32-33.07h14.62a64.1 64.1 0 0 1-47.7 47.7v-14.63a49.98 49.98 0 0 0 33.08-33.07z" fill="#005ea5" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="90 64 64" dur="1800ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
