.boxGreen
{
    background-color: #def7de;
}
.borderColor
{
    border: 1px solid red;
}
.boxRed
{
    background-color: #f7dfdf;;
}
.change_pro_form
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 35px;
}
.change_pro_form .label_container label
{
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 15px;
}
@media (max-width:650px)
{
    .change_pro_form
    {
        width:100%;
    }
}
.o_date
{
    position:relative;
}
.o_date:before
{
    position: absolute;
    content: "Order Date";
    width: 88px;
    color: #ffffff;
    background-color: #000000;
    z-index: 5;
    text-align: center;
    top: -20px;
    /* transform:scale(0,0); */
    display: none;
    transition-duration:.2s;left: 0px;
}
.o_date:after
{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid #040404;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 29px;
    top: -6px;
    display:none;
    
}
.o_date:hover:before,.o_date:hover:after
{
    display:block;
    transition-duration:.2s;
}




.pay_status
{
    position:relative;
}
.pay_status:before
{
    position: absolute;
    content: "Payment Status";
    width: 120px;
    color: #ffffff;
    background-color: #000000;
    z-index: 5;
    text-align: center;
    top: -20px;
    /* transform:scale(0,0); */
    display: none;
    transition-duration:.2s;left: 0px;
}
.pay_status:after
{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid #040404;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 29px;
    top: -6px;
    display:none;
    
}
.pay_status:hover:before,.pay_status:hover:after
{
    display:block;
    transition-duration:.2s;
}
.phone_dropdown
{
    position: relative;
}
.phone_dropdown select
{
    position: absolute;
    width:64px;top:0px;left:0px;
    padding-left: 0;
    padding-right: 0;
}
.phone_dropdown input[type="number"]
{
    padding-left:40px;
}
.ic h2 i
{
    width: 50px;
    height: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 25px;
}


.user_pro
{
	text-align:center;	
	background-color:#005ea5;
	color:white;
	padding:15px 15px 25px 15px;
	}
.user_pro h1 i
{
	color: #2fffff;	
	font-size:45px;
	color: #2fffff;
	font-size: 75px;
	}
.dash_div
{
	width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 20px;
	}
.dash_div:hover 
{
	background-color:#edeef2;
	}
.dash_div:hover i
{
	background-color:white;
	transform: scale(1.2,1.2);
	transition-duration:.2s;
	font-size:35px;
	}
.dash_div>h1>i
{
	color: #005ea5;
	width: 100px;
    height:100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
    border: 1px solid #e0e0e0;
	font-size: 45px;
	transition-duration:.2s;
	}
.dash_div>h1
{
	width:100%;
	text-align:center;	
	margin-top:20px;
	}
.dash_div>h3
{
	width:100%;
	text-align:center;	
	margin-top:20px;
	color:#005ea5;
	}
.dash_div>p
{
	font-size: 25px;
	font-weight: bold;
	}
ul.a
{
	padding-left:15px;
	text-align:left;
    }
    
  .r_div
  {
    border-left:1px solid #ddd;
    padding-left:15px;
  }

.profile_opt_ul li a span
{
    margin-right:4px;
}

.icon_meaning_div
{
    border: 1px solid #edeef1;
    padding: 10px 15px;
    width:1000px;
    margin:0 auto;
}
.icon_meaning_div ul
{
    padding-left:23px;
    margin-bottom: 0px;
}
.icon_meaning_div ul li span
{
    color:red;
}
@media (max-width:852px)
{
    .icon_meaning_div
    {
        width:100%;
    }
}

.notes
{
    margin-bottom: 17px;
    border: 1px solid #d7d8de;
}
.notes>div
{
    padding: 7px 15px;
}
.notes_background
{
    border: 1px solid #005ea5;
}
.notes h3 
{
    overflow: hidden;
    color: #333;
    font-size: 17px;
    font-family: lato;
    
}
.notes h3 span
{
    font-family: lato;
    color: #005ea5;
    text-transform: capitalize;
    font-size: 17px;
}
.notes_date
{
    text-align: right;
}
.notes_date span:last-child
{
    margin-left:15px;
}
@media (max-width:600px)
{
    .notes h3 
    {
        text-align: left;
    }
    .notes h3 span
    {
        display: block;
        float: none!important;
        width:100%;
        margin-bottom: 3px;
    }
    .notes_date
    {
        font-size: 12px;
        text-align: left;
    }
}

/*------------------- start update profile **---------------*/
.update_profile
{
    width:1000px;
    margin:0px auto;
}
.update_profile .label_container label 
{
    display:block;
    margin: 15px 0px 3px 0px;
    text-align: left;
}
@media (max-width:1050px)
{
    .update_profile
    {
        width:800px;
    }
}
@media (max-width:850px)
{
    .update_profile
    {
        width:700px;
    }
}
@media (max-width:767px)
{
    .update_profile
    {
        width:500px;
    }
}
@media (max-width:550px)
{
    .update_profile
    {
        width:100%;
    }
}
/*------------------- end update profile -------------------*/

.tableRefferals {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableRefferals td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.hero {
    position: relative;
    background-color: #a2a2a2;
    height: 21px !important;
    width: 7% !important;
    border-radius: 17px;
    left: 129px;
    font-size: 15px;
    top: -3px;
    text-align: center;
}
.hero:after {
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    content:'';
    width: 0;
    height: 0;
    border-top: solid 10px #a2a2a2;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}