<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'" [color]="'#055ea5'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
<div class="wrapper" *ngIf="pageHide">
    <section class="section_20" style="background-color:#EDEFF1;padding:15px 0px;">
        <div class="container">
            <div class="row us_in">
                <div class="col-sm-3 col_left">
                    <div class="media">
                        <div class="media-left ic">
                          <h2>
                            <span><i class="fas fa-user"></i></span> 
                            </h2>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading" style="margin: 0px;margin-top: 5px;">Welcome</h4>
                          <p style="margin: 0px;color: #005ea5;line-height: normal;font-size: 21px;font-family: 'Hammersmith One';text-transform:capitalize;">{{name}}</p>
                        </div>
                      </div>
                </div>
                <div class="col-sm-9 col_left">
                    <div>
                        <ul class="profile_opt_ul">
                            <li id="profile_option">
                                <a>Choose Option <i class="fas fa-chevron-down"></i></a>
                            </li>
                            <div>
                                <li><a class="dashboard profile_active" routerLink="/my-profile/dashboard" title="Dashboard"><span>Dashboard</span><i class="fas fa-tachometer-alt"></i></a></li>
                                <li><a class="applications" routerLink="/my-profile/applications" title="Applications"><span>Applications</span> <i class="fas fa-shopping-bag"></i></a></li>
                                <li><a class="update-profile" routerLink="/my-profile/update-profile" title="Update Profile"><span>Update Profile</span> <i class="far fa-user-circle"></i></a></li>
                                <li><a class="change-password" routerLink="/my-profile/change-password" title="Change Password"><span>Change Password</span> <i class="fas fa-key"></i></a></li>
                                <li><a (click)="logOut()" title="Logout"><span>Logout</span> <i class="fas fa-sign-out-alt"></i></a></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_30">
        <div class="container">
                <div [hidden]="user_dashboard">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="user_pro">
                                        <h1><i class="fas fa-smile"></i></h1>
                                        <h3 style="color:#EDEFF1;text-transform: capitalize;margin-top: 5px;">{{name}}</h3>
                                        <p style="margin-bottom: 5px;"><a href="javascript:void(0);" style="color: #2fffff;font-size: 15px;">{{email}}</a></p>
                                        <p>Activated <span style="color: #16e416;"><i class="fas fa-circle"></i></span></p>
                                    </div>             
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-6" style="cursor: pointer;">
                                            <a class="dash_div" routerLink="/my-profile/applications">
                                                <h1><i class="fab fa-wpforms"></i></h1>
                                                <h3>All Applications</h3>
                                                <p>{{total_orders}}</p>
                                            </a>
                                        </div>
                                        <div class="col-sm-6" style="cursor: pointer;">
                                            <a class="dash_div" routerLink="/my-profile/applications-under-process">
                                                <h1><i class="fas fa-spinner"></i></h1>
                                                <h3>Under Process Applications</h3>
                                                <p>{{processing}}</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="" class="dash_div" routerLink="/my-profile/withdraw">
                                                <h1><i class="fas fa-gift"></i></h1>
                                                <h3>Available Total Bonus</h3>
                                                <p>{{total_bonus}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-9" [hidden]="total_bonus==0"></div> -->
                            </div>


                            <div class="" [hidden]="refferal=='' || indiaevisa_referral==''" >
                                <div class="row url_row">
                                    <div class="col-sm-12 url_col">
                                        <p class="url_p url_p1" style="text-align: left;">
                                            <span style="font-family: 'Hammersmith One';">Your Referral Url for <a href="https://visacent.com/">Visacent :</a>&nbsp;&nbsp;</span>
                                            <span id="p1" (click)="copyToClipboard('#p1')" title="Click to copy url" data-toggle="tooltip" style="cursor: copy;"> https://visacent.com/apply-e-visa/?ref={{refferal}} &nbsp;<i class="fas fa-paste"></i></span>
                                            <span *ngIf="textCopyCompleteCent" class="uncomplete copied" style="width: 52px;">
                                                Copied
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row url_row">
                                    <div class="col-sm-12 url_col">
                                        <p class="url_p url_p1" style="text-align: left;">
                                            <span style="font-family: 'Hammersmith One';">Your Referral Url for <a href="https://indiaevisas.org" target="_blank" >India e-Visa :</a>&nbsp;&nbsp;</span>
                                            <span id="p2" (click)="copyToClipboar2('#p2')" title="Click to copy url" style="cursor: copy;"> https://indiaevisas.org/apply-visa/?ref={{indiaevisa_referral}} &nbsp;<i class="fas fa-paste"></i></span>
                                            <span *ngIf="textCopyCompleteIndia" class="uncomplete copied" style="width: 52px;">
                                                    Copied
                                            </span>
                                        </p>
                                    </div>
                                </div> 
                            </div><br />

                            <div class="row" [hidden]="admin_activity==''">
                                <div class="col-md-12">
                                    <h3 style="text-align:left!important;margin-top:15px;margin-bottom:8px;">Notes</h3>       
                                    <div class="notes" *ngFor="let activity of admin_activity">
                                        <div class="" [ngClass]="{'notes_background': activity.applicant==''}">
                                            <h3 class="text-right"><span class="pull-left">{{activity.alert}}</span><span [hidden]="activity.applicant==''"> Appli Name: </span><label>{{activity.applicant}}</label></h3>
                                            <div class="notes_date"><span>Order Date: {{activity.date_time}}</span><span >Order Id: {{activity.order_id}}</span></div>
                                        </div>  
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="col-lg-3">
                            <div class="r_div">
                                <h3>Important Links</h3>
                                <ul style="list-style-type: none;padding-left:0px;margin-top:7px;font-size: 16px;">
                                    <li><a data-toggle="modal" data-target="#mod1">Making an application</a></li>
                                    <li><a data-toggle="modal" data-target="#mod2">Uploading documents</a></li>
                                    <li><a data-toggle="modal" data-target="#mod3">Photographs</a></li>
                                    <li><a routerLink="/my-profile/withdraw">your bouns</a></li>
                                </ul>
                            </div>    
                        </div>
                    </div> 
                    
                    <!----------------- start popup 1         ------------------->
                    <div>
                        <div class="modal fade" id="mod1" role="dialog">
                            <div class="modal-dialog">
                              <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="mod al-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Mod1</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Some text in the modal.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div>
                          <div class="modal fade" id="mod2" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Mod2</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Some text in the modal.</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>   
                    <div>
                        <div class="modal fade" id="mod3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Mod3</h4>
                            </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </div>

                        </div>
                        </div>
                    </div>
                    
                    <!------------------ end popup 1 --------------------------->   
            </div>
            <div [hidden]="!my_account">
                    <div class="icon_meaning_div">
                        <h4><i class="fa fa-info-circle"></i> Application Status Legend </h4>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="" >
                                    <ul class="inst_ul">
                                        <li><span>Pending</span>-  Your VISA application is not yet submitted. </li>
                                        <li><span>Progress</span>- Your VISA application is being reviewed.</li>
                                        <li><span>Submitted</span>- Your VISA application has been submitted. </li>
                                        <li><span>Rejected</span>- Your VISA application has been declined.</li>
                                        <li><span>Done</span>- Payment for VISA application is Done.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="inst_ul" >
                                    <ul>
                                        <li><span>Request Document / Data Amendment</span>- Your VISA application requires additional information. </li>
                                        <li><span>Canceled</span>- Your VISA application has been declined.</li>
                                        <li><span>Request Interview</span>- Your VISA application requires attending an Interview session.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="text-center" *ngIf="AllApplication" style="margin-top:20px;font-size:30px;">All Applications</h1>
                    <h1 class="text-center" *ngIf="UnderProcessApplication" style="margin-top:20px;font-size:30px;">Under Process Applications</h1>     
                <div *ngFor="let order1 of UserOrders_user; let i = index" class="div_for_user row">
                    <div class="col-md-12 new">
                        <h4>
                            <span class="pull left">Order Id: {{order1.order_id}} </span> <b>|</b>
                            <span class="pull left o_date"><i class="far fa-calendar-alt"></i> {{order1.order_date}}
                            </span> <b>|</b>
                            <span>Visa Country: <strong *ngFor="let list of cntryList" [hidden]="list.id!=order1.visa_for_country" style="font-weight: normal;">{{list.name}}</strong></span>
                            <b>|</b>
                            <span class="pull left pay_status" [hidden]="!(order1.payment_status=='done')" ><i class="far fa-credit-card"></i>&nbsp;<strong style="color:#41e256;text-transform: capitalize;font-weight:normal;"> {{order1.payment_status}} <i class="fas fa-check-square"></i></strong> </span> 
                            <span class="pull left pay_status" [hidden]="!(order1.payment_status=='pending')" ><i class="far fa-credit-card"></i>&nbsp;<strong style="color:#ff684e;text-transform: capitalize;font-weight:normal;"> {{order1.payment_status}} <i class="fas fa-clock"></i></strong></span>                            
                            <span class="pull-right icon">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </h4>
                    </div>
                    <div class="open" style="width: 100%;overflow: hidden;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong class="left_label">Arrival Date</strong>
                                </div>
                                <div class="col-xs-8">
                                    <p>{{order1.arrival_date}} (DD-MM-YYYY)</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong class="left_label">No of Application</strong>
                                </div>
                                <div class="col-xs-8">
                                    <p>{{order1.visa_no}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong class="left_label">Processing Type</strong>
                                </div>
                                <div class="col-xs-8" [hidden]="!(order1.processing_type=='Normal')">
                                    <p class="processing_type nor"> {{order1.processing_type}}                                                              </p>
                                </div>
                                <div class="col-xs-8" [hidden]="!(order1.processing_type=='Rush Processing')">
                                    <p class="processing_type rush">{{order1.processing_type}}                               </p>
                                </div>
                                <div class="col-xs-8" [hidden]="!(order1.processing_type=='Super Rush Processing')">
                                    <p class="processing_type super">{{order1.processing_type}} <span><i class="fas fa-bullhorn"></i></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong class="left_label">Total Fee</strong>
                                </div>
                                <div class="col-xs-8">
                                    <p>{{order1.total_fee}} USD</p>
                                </div>
                            </div>   
                        </div>
                    <div class="col-md-12">
                        <div *ngIf="!(order1.payment_status=='pending' && order1.is_info_complete=='1') && !(order1.payment_status=='done')">
                            <div>
                                <p><i class="fas fa-hand-point-right"></i> Please fill application details and make payment for further process</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input *ngIf="(order1.payment_status=='pending' && order1.is_info_complete=='1')" type="button" style="margin:2px" name="btn" class="my_btn" (click)="payNow(i)" value="Pay Now">
                                <input *ngIf="order1.payment_status=='pending'" type="button" name="btn" class="my_btn my_btn_red pull-right" (click)="delete(i,order1.order_id)" value="Delete">
                            </div>
                        </div>
                        <div  class="col-md-6" style="padding:0px" [hidden]="!(order1.payment_status=='done')">
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong class="left_label">Transaction Id</strong>
                                </div>
                                <div class="col-xs-8">
                                    <p>{{order1.txn_id}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="account_related_css_order col-md-12">
                        <h5>Passport Details</h5>
                        <div class="account_css_scroll">
                            <table id="appli_pass_tbl" class="table_order">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Full Name</th>
                                        <th style="text-align: center;">DOB</th>
                                        <th style="text-align: center;">Nationality</th>
                                        <th style="text-align: center;">Passport No.</th>
                                        <th style="text-align: center;">Visa Status</th>
                                        <th style="text-align: center;">Visa Type</th>
                                        <th style="text-align: center;">Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let apli of order1.applicants; let j = index" [ngClass]="{'kkkkkk':apli.is_final_submit==1, 'dfsdfs':apli.is_final_submit==0}">
                                        <td>{{apli.name}}</td>
                                        <td>{{apli.dob}}</td>
                                        <td>
                                            <ul style="padding-left:0px;list-style-type:none;margin:0px;">
                                                <li *ngFor="let list of cntryList" [hidden]="list.id!=apli.nationality" [ngClass]="{'bbbb':list.id!=apli.nationality}">
                                                    {{list.name}}
                                                </li>
                                            </ul>
                                        </td>
                                        <td>{{apli.passport_no}}</td>
                                        <td>
                                            {{apli.total_fee}}
                                            <span class="ap_mg" style="text-transform: capitalize;">
                                                <strong>{{apli.visa_status}}</strong><br />
                                                <!-- <a id='dwnldLnk'  > -->
                                                    <a title="Download your application" href={{apli.visas}} *ngIf="apli.visa_status=='success'" download={{apli.visas}}  style="color:orange;cursor:pointer;">Download Visa</a>
                                                <!-- </a> -->
                                                
                                                
                                                  <!-- <a id='dwnldLnk' download='{{apli.visas}}' style="display:none;"></a> 
                                                <a title="Download your application" href="javascript:void(0)" *ngIf="apli.visa_status=='success'" (click)="downloadPDF(apli.visas)" style="color:orange;cursor:pointer;">Download Visa</a>
                                                  -->
                                                
                                                
                                                <!-- <span *ngIf="apli.visa_status=='success'" (click)="printdock(i,j,apli.type,apli.visas)" style="color:orange;cursor:pointer;">Print Visa</span> -->
                                            </span>                                            
                                            <!-- <div [hidden]="!visasPrint" id="visa_{{i}}_{{j}}">
                                                    <img src="{{apli.visas}}" *ngIf="apli.type!='pdf'">
                                                    <object style="width:500px;height:500px;" *ngIf="apli.type=='pdf'" data="{{apli.visas}}" type="application/pdf">
                                                    <embed src="{{apli.visas}}" type="application/pdf"/></object>
                                                    <input type="hidden" id="inp" value="{{apli.visas}}">
                                                </div> -->
                                        </td>
                                        <td>{{apli.visa_type}}</td>
                                        <!-- <td [hidden]="!(order1.payment_status=='done')" class="bbbb">
                                            <button (click)="amountPay(i,j)" class="my_btn my_btn_submit width_auto" style="padding-top: 6px;padding-bottom: 6px;">Detail <i class="fas fa-info-circle"></i></button>
                                        </td> -->
                                        <td class="bbbb">
                                            <button (click)="amountPay(i,j)" class="my_btn my_btn_submit width_auto" style="padding-top: 6px;padding-bottom: 6px;">Add/View <i class="fas fa-info-circle"></i></button>
                                        </td>
                                        <!-- <td [hidden]="!(order1.payment_status=='pending')"> Make payment to complete application</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>        
                </div>
                <div>
                    <ul style="padding-left:0px;list-style-type: none;">
                        <li> <i class="far fa-hand-point-right"></i> Please click PRINT VISA to print your official VISA paper and print multiple copies of your eVISA paper to avoid lost, misplaced or damaged paper.</li>
                        <li><i class="far fa-hand-point-right"></i> Please use a good quality A4 paper and do not fold more than once for smoother verification process upon your arrival.</li>
                    </ul>
                </div>
            </div>
            <div class="form_wrapper" [hidden]="!my_profile">
                <form class="update_profile">
                    <h1 style="margin-bottom: 15px;text-align: center;font-size: 30px;">Update Profile</h1>
                    <div id="myalert" class="my_alert my_alert_pos" *ngIf="updated_suc">
                        <button type="button" class="close" data-dismiss="myalert">&times;</button>
                        <span class="sus">Profile {{updated_suc_msg}}</span>
                    </div>
                    <div id="myalert" class="my_alert my_alert_pos my_alert_red" *ngIf="updated_error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="sus">Profile{{updated_error_msg}}</span>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="label_container">
                                        <label>Email <i class="far fa-envelope"></i></label>
                                    </div>
                                    <div class="element_container">
                                        <input type="text" disabled class="emailOne " name="email" [(ngModel)]="email" value="" style="cursor: no-drop">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="label_container">
                                        <label>Name <i _ngcontent-c7="" class="fas fa-pencil-alt"></i></label>
                                    </div>
                                    <div class="element_container">
                                        <input type="text" class="nameOne enable_white" (keyup)="errorHideRed()" [(ngModel)]="name" name="name" id="user_name" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="label_container">
                                        <label>Phone <i _ngcontent-c7="" class="fas fa-mobile-alt"></i></label>
                                    </div>
                                    <div class="element_container phone_dropdown">
                                        <select name="" id="flagDropVlu" class="flagEr enable_white">    
                                            <option *ngFor="let flag of flagDrop" [selected]="codeCnt==flag.value" value="{{flag.value}}">{{flag.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flag.country}}</option>
                                        </select>
                                        <input type="number" (keyup)="errorHideRedNumber()" class="numberOne numberVal enable_white" maxlength="15" name="number" minlength="6" style="width: 100%;height: 35px;padding-left: 70px;" required [(ngModel)]="number" (keypress)="isNumberKey($event)">      
                                    </div>
                                </div>
                            </div>
                        </div>      
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="label_container">
                                        <label>Whatsapp <i class="fab fa-whatsapp"></i></label>
                                    </div>
                                    <div class="element_container">
                                        <input type="text" name="Whatsapp" class="enable_white" [(ngModel)]="whatsapp" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="label_container">
                                        <label>Skype <i class="fab fa-skype"></i></label>
                                    </div>
                                    <div class="element_container">
                                        <input type="text" name="Skype" class="enable_white" [(ngModel)]="skype" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="label_container">
                                        <label>Wechat <i class="far fa-comment-alt"></i></label>
                                    </div>
                                    <div class="element_container">
                                        <input class="enable_white" name="Wechat" [(ngModel)]="wechat" style="width:100%;height: 35px;padding-left:12px;" >      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <p style="margin:0px;margin-top:15px;font-size: 15px;">I would like to receive information from Visacent about visas and immigration services </p>
                            <div>
                                <label style="margin-right:10px;"><input type="radio" style="cursor: pointer;" [checked]="is_subscribe=='1'" (change)="radioVlue('1')" name="updateUser" value="yes">&nbsp;YES</label>
                                <label><input type="radio" style="cursor: pointer;" [checked]="is_subscribe=='0'" (change)="radioVlue('0')" name="updateUser" value="no"> NO</label>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="element_container" style="margin-top:15px;text-align: center;">
                                <input type="submit" (click)="myProfileSub()" name="submit_btn" class=" visadetail_1 my_btn" value="Update">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="" [hidden]="!change_password">   
                <!-- <h3 style="margin-top: 0;">Change Password</h3> -->
                <form class="change_pro_form">
                <h1 style="margin-bottom: 15px;text-align: center;font-size: 30px;">Change Password</h1>
                <div id="myalert" class="my_alert my_alert_pos" *ngIf="change_suc">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="sus">{{change_suc_msg}}</span>
                </div>
                <div id="myalert" class="my_alert my_alert_pos my_alert_red" *ngIf="change_error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span class="sus">{{change_error_msg}}</span>
                </div>   
                    <div class="row">
                        <div class="col-md-12">
                            <div class="label_container">
                                <label width="30%">Current Password *
                                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                                </label>
                            </div>
                            <div class="element_container">
                                <input type="password" [(ngModel)]="oldPassword" (keyup)="currentPasRed()" class="oldPass enable_white" name="cur_pass">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="label_container">
                                <label>New Password *
                                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                                </label>
                            </div>
                            <div class="element_container">
                                 <input type="password" [(ngModel)]="newPassword" (keyup)="newPasRed()" class="newPass enable_white" name="new_pass">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="label_container">
                                <label>Confirm New Password *
                                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                                </label>
                            </div>
                            <div class="element_container">
                                <input type="password" [(ngModel)]="matchPassword" (keyup)="confirmPasRed()" class="matchPass enable_white" name="con_pass"> <span id="pass_err_spn" style="display: none;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="element_container" style="margin-top:20px;">
                                <input type="button" (click)="changePassSub()"  name="submit_btn" class="visadetail_1 my_btn" value="Update">
                            </div>
                        </div>
                    </div>        
                </form>
            </div>
            <div *ngIf="withdraw_page">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="bonus_summary">
                            <aside class="bonus_icon">
                                <i class="fas fa-hand-holding-usd"></i>
                            </aside>
                            <p>Total Bonus Amount: </p>
                            <h4>{{total_page_bonus_}} USD</h4>
                        </div>
                    </div>
                
                <div class="col-sm-4">
                    <div class="bonus_summary">
                        <aside class="bonus_icon">
                            <i class="fas fa-dollar-sign"></i>
                        </aside>
                        <p>Available to Withdraw</p>
                        <h4>{{available_bonus}} USD</h4>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="bonus_summary">
                        <aside class="bonus_icon">
                            <i class="fas fa-spinner"></i>
                        </aside>
                        <p>Withdraw Request Pending</p>
                        <h4>{{pending_amount}} USD</h4>
                    </div>
                </div>
                </div>
                <div class="urls">
                    <div class="row">
                        <div class="col-md-12 text-center" style="padding-bottom: 20px;padding-top: 15px;">
                            <button *ngIf="!Withdraw_btn_hide && !available_bonus==0" (click)="withdraw()" class="my_btn width_auto">Request to withdraw</button>
                        </div>
                    </div>
                    <div [hidden]="refferal=='' || indiaevisa_referral==''">
                        <div class="row url_row">
                            <div class="col-sm-5 url_col">
                                <p class="url_p url_p1">
                                    <span style="font-family: 'Hammersmith One';">Your Referral Url for <a href="https://visacent.com/">Visacent</a>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="url_p">
                                    <span id="p1" (click)="copyToClipboard('#p1')" title="Click to copy url">https://visacent.com/apply-e-visa/?ref={{refferal}} <i class="fas fa-paste"></i>
                                    </span>
                                    <span *ngIf="textCopyCompleteCent" class="uncomplete copied" style="width: 52px;">
                                        Copied
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row url_row">
                            <div class="col-sm-5 url_col">
                                <p class="url_p url_p1">
                                    <span style="font-family: 'Hammersmith One';">Your Referral Url for <a href="https://indiaevisas.org" target="_blank" >India e-Visa</a></span>
                                    
                                </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="url_p">
                                    <span id="p2" (click)="copyToClipboar2('#p2')" title="Click to copy url"> https://indiaevisas.org/apply-visa/?ref={{indiaevisa_referral}} <i class="fas fa-paste"></i>
                                    </span>
                                    <span *ngIf="textCopyCompleteIndia" class="uncomplete copied" style="width: 52px;">
                                            Copied
                                    </span>
                                </p>
                            </div>

                        </div> 
                    </div>
                </div>
                
                <p *ngIf="Withdraw_btn_hide" style="color:green">Your request to withdrawal bonus has been submitted. Your bonus will be credit within 72 hour into your Paypal account. </p>
                
                <div class="row bon_row" [hidden]="user_refferals1==''">
                    <div class="col-lg-6" [hidden]="bonus_withdraw1==''">
                        <div [hidden]="bonus_withdraw1==''">
                            <h3 class="text-center" style="margin-bottom: 10px;">Bonus</h3>
                        </div>  
                        <div class="bonus_table bonus_table1">
                            <table class="table xzy">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Bonus</th>
                                        <th>Referral Created</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody style="cursor: pointer;" >
                                    <tr *ngFor="let bonus of bonus_withdraw1; let i=index" class="active">
                                        <td>{{i+1}}</td>
                                        <td>{{bonus.bonus_amt}}</td>
                                        <td>{{bonus.created_at}}</td>
                                        <td>{{bonus.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 sec_col">
                        <div [hidden]="user_refferals1==''" >
                            <h3 class="text-center" style="margin-bottom: 10px;">User Referral Details</h3>
                            
                        </div>
                        <div class="bonus_table bonus_table2">
                            <table class="table xzy">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Bonus</th>
                                        <th>Date & Time</th>
                                        <th>Referral Email</th>
                                        <th>Referral Name</th>
                                    </tr>
                                </thead>
                                <tbody style="cursor: pointer;" >
                                    <tr *ngFor="let bonus of user_refferals1; let i=index" class="active">
                                        <td>{{i+1}}</td>
                                        <td>{{bonus.bonus_amt}}</td>
                                        <td>{{bonus.refferer_created}}</td>
                                        <td>{{bonus.refferer_email}}</td>
                                        <td>{{bonus.refferer_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <div class="row" [hidden]="userData==''">
                    <div class="col-md-12" >
                        <div class="text-center" >
                            <h3 style="margin-bottom: 10px;">Bonus Withdraw Request</h3>
                        </div>  
                        <div class="bonus_table bonus_table3">
                            <table class="table xzy">
                                <thead>
                                    <tr>
                                        <th>Withdraw Amount</th>
                                        <th>Status</th>
                                        <th>Request Date</th>
                                        <th>Created Time</th>                                       
                                        <th>Credit Amount</th>
                                        <th>Comment</th>
                                         <!-- <th>Total bonus</th> -->                                       
                                    </tr>
                                </thead>
                                <tbody style="cursor: pointer;">
                                    <tr class="active" *ngFor="let bonus of userData; let i=index">
                                            <td *ngIf="bonus.withdraw_amount!=null">{{bonus.withdraw_amount}}</td>
                                            <td *ngIf="bonus.withdraw_amount==null">NA</td>
                                            <td *ngIf="bonus.status=='Pending'" style="color:orange">{{bonus.status}}</td>
                                            <td *ngIf="bonus.status=='Cancel'" style="color:red">{{bonus.status}}</td>
                                            <td *ngIf="bonus.status=='Completed'" style="color:green">{{bonus.status}}</td>                                        
                                            <td *ngIf="bonus.created_at!=null">{{bonus.created_at}}</td>
                                            <td *ngIf="bonus.created_at==null">NA</td>
                                            <td *ngIf="bonus.credit_date!=null">{{bonus.credit_date}}</td>
                                            <td *ngIf="bonus.credit_date==null">NA</td>       
                                            <td *ngIf="bonus.credit_amount!=null">{{bonus.credit_amount}}</td>
                                            <td *ngIf="bonus.credit_amount==null">NA</td>
                                            <td *ngIf="bonus.comment!=null">{{bonus.comment}}</td>
                                            <td *ngIf="bonus.comment==null">NA</td>
                                       <!-- <td *ngIf="bonus.total_bonus!=null">{{bonus.total_bonus}}</td>
                                        <td *ngIf="bonus.total_bonus==null">NA</td> -->  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div *ngIf="processmy" class="preloader"> 
    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve">
        <g>
            <path d="M78.75 16.18V1.56a64.1 64.1 0 0 1 47.7 47.7H111.8a49.98 49.98 0 0 0-33.07-33.08zM16.43 49.25H1.8a64.1 64.1 0 0 1 47.7-47.7V16.2a49.98 49.98 0 0 0-33.07 33.07zm33.07 62.32v14.62A64.1 64.1 0 0 1 1.8 78.5h14.63a49.98 49.98 0 0 0 33.07 33.07zm62.32-33.07h14.62a64.1 64.1 0 0 1-47.7 47.7v-14.63a49.98 49.98 0 0 0 33.08-33.07z" fill="#005ea5" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="90 64 64" dur="1800ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
<div class="container">
    <button type="button" class="btn btn-info btn-lg hidden" id="removeAppli" data-toggle="modal" data-target="#removeUser"></button>
    <div class="modal fade" id="removeUser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content mediaCls" style="position: initial;;width: 100%;border-radius:0px;">
                <div class="modal-header">
                    <button style="color: red;font-size: 32px;opacity: 1;" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align: center;text-align: center;font-size: 20px;color: #005ea5;">Alert</h4>
                </div>
                
                    <p style="font-size: 20px;margin-top: 20px;margin-bottom: 20px;text-align: center;">Are you sure! you want to delete?</p>          
                <div class="modal-footer" style="text-align: center">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="my_btn my_btn_red pull-right" data-dismiss="modal" id="delete_cnt_apli">Ok</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="my_btn pull-left" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <button type="button" class="btn btn-info btn-lg hidden" id="modal_btn_delete_user" data-toggle="modal" data-target="#myModalDelete">Open Modal</button>
    <div class="modal fade" id="myModalDelete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="position: relative;top: 150px;border-radius: 0px;">
                <div class="modal-body">
                    <h1 style="text-align: center;color: #ddd;"><i class="fa fa-trash" aria-hidden="true"></i></h1>
                    <p style="text-align: center;color: #005ea5;font-size: 22px;text-transform: capitalize;">{{successMsgDltUsr}}</p>
                </div>
                <div class="modal-footer" style="text-align: center;display:none;">
                    <button type="button" class="btn btn-success" id="modal_btn_dlt" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-info btn-lg hidden" id="bonusAppli" data-toggle="modal" data-target="#bonusUser"></button>
    <div class="modal fade" id="bonusUser" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content mediaCls" style="position: initial;;width: 100%;">
                <div class="modal-header" style="border-bottom:none">
                    <button style="color: red;font-size: 32px;" type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title main_heading main_heading_wbg" style="text-align: center;text-align: center;font-size: 20px;color: green;">
                        <h3 class="table_h">Confirmation</h3>
                        <span></span>
                    </div>
                </div>
                <p style="position: relative;text-align: center;">Do you want to use your bonus!</p>
                <div class="modal-footer" style="text-align: center" style="border-top:none;text-align: center">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="bonus_use_apli">Agree</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" style="background-color: #f3c36c;border-color: #f3c36c;">Later </button>
                </div>
            </div>
        </div>
    </div>
</div>
