<section class="section_20">
    <div class="container">
        <div class="main_heading main_heading_wbg">
          <h1 class="table_h">Terms And Conditions</h1>
          <span></span>
        </div>
      <div class="row">
        <div class="col-md-12">
          <div class="faq_div">
            <ul class="faq_ul">
              <li>Acceptance of Terms</li>
              <p>Please read terms and conditions of the website carefully before using it.
                </p>
                <li>Fees</li>
              <p>For Visa Service you will got 100% refund and all paid fee on our site will be refunded to your account -
                </p>
                <li>In Certains conditions our Visa services are not available </li>
                 <p>For Our Visa Service you will got 100% refund and all paid fee on our site will be refunded to your account -
                     
                  </p>
                <ul>
                        <li>Not available to Diplomatic / Official Passport Holders or Laisser-passenger travel document holders.
                          </li>
                         <li>Not available to individuals endorsed on Parent's / Spouse's Passport (each individual must have their own passport).</li>
                         <li>Not available to International Travel Document Holders.
                          </li>
                </ul>

                  
  
                <li>Refund or Cancellation Policy
                  </li>
                 <p>For Indian Visa Service you will got 100% refund of your amount and all paid fee on our site will be refunded to your account if :-
                 </p>
                <ul>
                        <li>You can cancel your service request for any reasons for Service fees, before making payments.</li>
                         <li>After making payments within 1 hour of your bookings, you can cancel your service request for any reasons.</li>
                         <li>You will got 100% of refund, if we fail to provide you services.</li>
                        <li>Total amount of your fees will be refunded to your accounts within 15-20 working days (depending on card issuers, payment method etc.)</li>
                </ul>
            
                 
                
                <li>Note:
                  </li>
                 
                <ul>
                        <li>No refund will be granted once your Visa application has generated.</li>
                         <li>After 1 hours of your booking with us for Visa services.</li>
                         <li>No refund will be granted, once your Visa is sent to your provided email. In case you didn't get an email, please check your spam email folder, or write us back immediately.
                          </li>
                          <li>No refund or cancellation is granted, if your application has incorrect details occured by your mistake. We strongly recommend you to confirmation your travel and personal information prior to departure against your visa confirmation letter.
                            </li>
                        
                </ul>
                
                <li>Modification
                  </li>
                 
                <p>We reserves the right to change any part of this agreement without any notice and your use of the website will be deemed as acceptance of this agreement. We advise users to regularly check the Terms and Conditions of this agreement.</p>
                
                
                <!-- <li>Disclaimer:
                  </li>
                 
                <p>We are not responsible for any delay due to Immigration department Holidays or non-working conditions or cancellations.
<br /><br />
We does not guarantee that all confirmation email and notification email will be successfully sent to you, as email delivery is not 100%. You agree to contact our Visa Support Team for any question, if you did not received your Visa. We will not be in charge of any loss / damage arising or will not accept any request of refund afterward.
</p> -->

<li>Disclaimer about information</li>
<p>The information listed or provided in the website should be used as a guide only. we keep you up to date with visa and embassy information for all countries, still you are advised to contact your local official mission/consulate/embassy. We do not take any responsibility in any way shape or form for any   of the information found on this website, or for other websites that this website links to.<br />Countries visa rules and regulations change on a day to day basis. Some tine official websites have data that is long out of date. More bad case Phone calls to officials either don't get answered.<br />
In case if you find information is no longer correct, please help us to Update Information, we will be more than happy to hear from you.</p>

<li>Disclaimer:
  </li>
 
<p>We are not responsible for any delay due to Immigration department Holidays or non-working conditions or cancellations.

<p>
    Visacent shall not be held responsible for expense and/or delay arising from or in connection with:
</p>

<p>
(a) incomplete application forms
</p>

<p>
(b)  incorrectly or falsely completed application forms  </p>
<p>

inaccurate or incomplete supporting documentation. Any expense or cost incurred by the client due to these delays or non-issuances shall not be the responsibility of, nor shall any charges be levied upon visacent.
</p>

<p>We does not guarantee that all confirmation email and notification email will be successfully sent to you, as email delivery is not 100%. You agree to contact our Visa Support Team for any question, if you did not received your e-Visa. We will not be in charge of any loss / damage arising or will not accept any request of refund afterward.</p>

<li>Procedure

  </li>
 
<p>We will try to provide you with accurate information and to ensure that you obtain the visa for your trip for the date required in a timely manner. Nevertheless, all requirements to obtain the visa (including, but not limited to, documentation, fees and time frames) are calculated based on general criteria and can vary according to information provided by you (including, but not limited to, current or previous nationality, residence, gender, age, profession, recent travel and religion). Each country's requirements for passports and visas and related information are established by sovereign nations and are subject to change without notice. While Visacent strives to provide current and complete information, Visacent cannot and does not guarantee that the information supplied is the most current and complete. Visacent is not and shall not be responsible for such information.</p>

<li>Submission of documentation
  </li>
 
<p>You can consult the list of requisites to be met in order to process your visa on our website. To ensure that you know where your documents are at all times, you will be sent an e-mail confirming the receipt of your documents when it reaches our offices. We will only process the visa(s) indicated in your request; Visacent assumes no responsibility for other visas required for your trip that have not been requested or which relate to stops on your trip.


<p>
By submitting one or more requests to process one or more visas to Visacent, you accept these Terms. Once your request(s) has/have been made to Visacent, Visacent shall send to the e-mail address provided by you an email with the specific conditions of the visa requested, such as the type of visa, destination and time frame. Upon receipt of your documentation your requests will be validated and Visacent shall commence the procedures to obtain the visa(s). If offered, phone orders will be accepted on the day of placement and mail orders will be accepted:
</p>

<p>
(a) if provided with an email address, when we email you with a ‘Confirmation Order Received’; or otherwise 
</p>

<p>
(b) on the first business day after receipt of the completed forms. We reserves the right to refuse, in its total discretion, to handle any application at any time and no reason need be given.
</p>
<p>

We reserves the right to decline processing of documents for any reason, including but not limited to incomplete documentation, insufficient processing time, and degree of difficulty in procuring documents due to purpose of travel.
</p>

<li>References</li>
<p>The internet is full of embassy directory websites and visa information. We tried to provide most updated information.</p>
<ul style="font-size: 16px;">
  <li>Websites of Ministry of External Affairs of Countries</li>
  <li>Websites of All Countries mission abroad</li>
  <li>Websites of Consulate General and representations</li>
  <li>Department of Home Affairs website</li>
  <li>Wikipedia / Wikimedia</li>
  <li>Google.com, google map and other sub sites.</li>
</ul>

<li>Intellectual Property Rights</li>
<p>We, including but not limited to technology and software underlying the Service or distributed, graphics and its content, is protected by copyright law, trademark law, international treaties and the laws applied to the protection hereof. visacent.com are the sole property of visacent.com and cannot be copied, adapted, published, licensed, distributed or otherwise reproduced in any manner. You agree not to copy, modify, create a derivative work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, or otherwise transfer any right in the Software. Any unauthorized use, distribution or other form of copying, is unlawful and will provide basis for legal action.
</p>
               


<li>Limitation of liability
  </li>
 
<p>We reserves the right in all instances to substitute replacement of the documents that had been in Visacent’s care and control in lieu of payment. Visacent  is not responsible for items misplaced, damaged, delayed or destroyed by a delivery service or issuing authority. Passport covers and other all documents including, but not limited to, original bank statements and educational and birth certificates, which were not requested for submission by Visacent  should be retained by the applicant. Visacent accepts no responsibility for the loss or damage of such documents.
<br />
<p>
    Visacent  will not be responsible in any respect or for any amount for loss or delay caused by events that we cannot or do not control, including but not limited to acts of God, weather conditions, acts of public enemies, war, strikes, civil commotions, or acts or omissions of public authorities (including passport and embassy consular officials).
</p>
<p>Nothing in this agreement excludes and/or limits our liability for:</p>
<p>
(a) death or personal injury caused by our negligence
</p>
<p>
(b)  fraud or fraudulent misrepresentation  </p>
<p>
<p>
(b) any other matter for which it would be illegal for us to exclude or attempt to exclude our liability.</p>
<p>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
