.cot_heading
{
    margin-bottom: 15px;
    margin-top: 42px;
    font-size: 24px;
}
@media (max-width:767px)
{
   .table_section 
    {
        background-color: transparent;
        padding-bottom: 0px;
    } 
}

.textareaaddress {
    display: block;
    overflow: hidden;
    padding: 2px 7px 4px 7px;
    width: 100%;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.textarea{
    display: block;
    overflow: hidden;
    padding: 2px 7px 4px 7px;
    width: 100%;
    min-height: 35px;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.comments{
    display: block;
    overflow: hidden;
    background: #4A90E2;
    min-height: 100px;
    width: 100%;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.borderCls{
    border: 1px solid red;
}
.visa-sec a 
{
    float: left;
    text-align: left;
    color: #333;
    font-size: 18px;
}
#scrollTable a{
    cursor: text!important;
}
