/*--------------- start global css ---------------------*/
/*::-webkit-scrollbar {
    width: 15px;
     background-color:#EDEFF1;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
     background-color:#EDEFF1;
 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
     background-color:#dce2e8;
}*/
body
{
	font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Hammersmith One';
	margin:0px;
	padding:0px;
	color:#005ea5;
}
label
{
	font-family: 'Hammersmith One';
    font-weight: normal;
    font-size: 18px;
    margin: 0px;
    line-height: normal;
}
p
{
	font-size:17px;
}
a
{
	color:#3a84df;
    cursor: pointer;
}
a:hover,a:focus
{
	text-decoration:none;
	color:#888888;
}
section
{
	padding:50px 0px;
}
.section_30
{
	padding:30px 0px;
}
.section_20
{
	padding:20px 0px;
}
.section_10
{
	padding:10px 0px;
}
.section_0
{
	padding:0px 0px;
}
input[type="radio"],input[type="checkbox"]
{
	transform:scale(1.3,1.3);
}
button
{
    line-height: normal!important;
}
.enable_white
{
    background-color:white;
}
.disable_gray
{
    background-color:#ebebe4;
}
.preloader
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 94, 165,0);
    position: fixed;
    z-index: 50;
    left: 0px;
    top: 0px;
    text-align:center
}
.preloader>svg
{
    background-color:white;
    width:100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.2);
    padding:25px;
}

.my_alert
{
    text-align: center;
    border: 1px solid #73d934;
    border-radius: 0px;
    border-radius: 33px;
    color: #73d934;
    font-size: 20px;
    text-transform: uppercase;
    padding:4px 35px;
    box-shadow: inset 0px 0px 20px #73d93478;
    background-color:white;
}
.my_alert_red
{
    border: 1px solid red;
    color: red;
    box-shadow: inset 0px 0px 20px red;
}
.my_alert_pos
{
    //position: absolute;
    width:100%;
    top:0px;
    left:0px;
    right:0px;
    margin-left:auto;
    margin-right:auto;
    z-index: 5;
}
/*--------------- end global css ---------------------*/

.my_btn
{
	background-color: #005ea5;
    color: white;
    box-shadow: 0px 2px 2px #00000030;
    border: 1px solid #005ea5;
	font-size: 15px;
    padding: 10px 15px;
	font-family: 'Lato', sans-serif;
	border-radius:0px;
	width: 110px;
}
.width_auto{
width: auto!important;
}
.my_btn:hover
{
	text-decoration: none;
    background-color: #005ea5;
    color: white;
    box-shadow: 0px 2px 2px #00000030;
    border-color: #005ea5;
}
.my_btn:focus
{
	outline-width:0px;
	outline:none;
}
.my_btn_red
{
	background-color:#e00303!important;
	border-color:red!important;
	color:white!important;
}
.my_btn_red:hover
{
	background-color:red;
	color:white!important;
}
.btn_sb{
    background-color: #077080!important;
}
.navbar-left h1 .logo
{
	width:165px;
}
.navbar
{
	min-height: auto;
}
.navbar-left 
{
    float: left !important;
}
.navbar-right
{
    float: right !important;
    margin-right: 0px;
}
/*.navbar-right
{
	width:50%;
}
.navbar-right>div a 
{
	color: #535353;
	font-size: 16px;
	padding: 8px 10px;
	//background: #f5f9ff;
	border: 1px solid #005ea5;
	display:inline-block;
}
.navbar-right>div a i
{
	color:#005ea5;
	font-size:16px;
	//border:1px solid #005ea5;
	//border-radius:20px;
	//padding:5px 10px;
}
.navbar-right>div a:hover 
{
	text-decoration:none;
	background-color: #f39b03;
    color: white;
    box-shadow: 0px 2px 2px #00000030;
	border-color:#ffa509;
}
.navbar-right>div a:hover i
{
	color:white;
}
.navbar-right>div:first-child
{
	margin-top:10px;
}*/





#main {
    width: 100%;
    display: flex;
}

#main div 
{
    flex-basis: 100%;
}
#main div:nth-of-type(1) 
{
    text-align:right;
	padding-right:5px;
}
#main div:nth-of-type(2) {
    flex-basis: 105px;
	position:relative;
}




/*--------------- translater -----------------*/
.right_link
{
	position:relative;
}
.translator
{
	position:absolute;
	width: 85px;
    height: 85px;
    background: white;
    z-index: 5;
	right:0px;
	bottom: -90px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.5);
	display:none;
}
.translator a
{
	display:block;
	text-align:center;
	border:none!important;	
}
.translator a:hover
{
	background-color: #f3f3f3!important;
}
.top_link 
{
	padding-left:0px;
	text-align:right;
	margin-bottom: 0px;
    margin-top: 5px;
}
.top_link li
{
	display:inline-block;
}
.top_link li>a
{
	display:block;
	padding:8px 10px;
	font-size: 15px;
}

.top_link li>a:hover
{
	text-decoration: none;
	background-color: #005ea5;
	color: white;
	box-shadow: 0px 2px 2px #00000030;
	border-color: #005ea5;
	cursor: pointer;
}
.top_link li>a i
{
	transform: scale(1.1,1.1);
}
.lang
{
	position:relative;
}
.lang>a>img
{
	width:39px!important;
}
.lang_select
{
	position:absolute;
	z-index:5;
	width:100px;
	background-color:white; 
	box-shadow:0px 3px 5px rgba(0,0,0,.5);
	display:none;
	left: -20px;
}
.lang_select a
{
	display: block;
    text-align: center;
    padding: 5px 0px;
}
.lang_select a:first-child
{
	padding-top:15px;
	padding-bottom:10px;
}
.lang_select a:last-child
{
	padding-bottom:15px;
	padding-top:10px;
}
.lang_select a:hover
{
	background-color:#f1f1f1;
}
.lang_select>a>img
{
	width:39px!important;
}
/*----------------- end translator -----------------*/


.menu_active
{
    background-color: #02508c;
	border-bottom: 2px solid white!important;
}
.nav_div
{
	background-color:#005ea5;position:sticky;top:0px;z-index:2;
}
ul.nav_ul
{
	float:none;margin:0 auto;margin-left: -1.5%;
}
ul.nav_ul li
{
	float:none;display:inline-block;
}
ul.nav_ul li a
{
	color: white;
	font-size: 17px;
	border-bottom: 2px solid transparent;
	padding-top: 11px;
	padding-bottom: 11px;
    cursor: pointer;
}

ul.nav_ul li a:hover,ul.nav_ul li a:focus
{
	background-color: #02508c;
	border-bottom: 2px solid white;
}
ul.nav_ul li a:focus
{
	background-color: transparent;
	border-bottom: 2px solid transparent;
}
.toggle_btn
{
	border-radius: 2px;
	background-color: #fffefe;
    margin-right: 0px;
}
.toggle_btn .icon-bar 
{
    background-color: #005ea5;
}
.main_heading h1,.main_heading h2,.main_heading h3
{
	text-align:center;
	
}
.main_heading h1
{
	color:white;
	text-align:center;
	text-transform:capitalize!important;
	letter-spacing:1px;
}

.main_heading>span
{
	display:block;
	width:175px;
	height:2px;
	background-color:white;
	margin:0 auto;
	margin-bottom:30px;
	margin-top: 8px;
}
.main_heading_wbg h1
{
	color: #005ea5;
    margin-top: 0;
    margin-bottom: 0px;
}
.main_heading_wbg>span
{
	background-color:#666666;
	margin-bottom: 20px;
}



/*------------------------ start banner section ----------------------------------*/
.banner_sec
{
	padding: 0px 0px 0px 0px;
    background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
    transition-duration: .2s;
}
.banner_div
{
    background: rgba(0, 94, 165, 0.7);
}
.drop_container
{
	position:relative;
	text-align: center;
    width:350px;
}
.drop_container1
{
	margin-left: auto;
}
.drop_container2
{
	margin-left: auto;
    margin-right: auto;
}
.drop_container>img
{
	position: absolute;
	width: 180px;
	right: -99px;
	top: 25px;
}

.drop_container>div span
{
	color: #005ea5;
    border: 5px solid #005ea5;
    background: white;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 90px;
    font-size: 55px;
    box-shadow: 0px 0px 2px white;
}
.drop_container h2
{
	/* //font-weight:bold; */
}
.drop_container h3
{
	color:white;
	margin-top:15px;
	margin-bottom: 10px;
}
.d_cont h3
{
    margin-top: 0px;
    text-align: left;
}
.drop_container form select
{
	width:100%;
	height:40px;
	padding-left:13px;	
}
.req_select
{
    position: relative;
}
.req_select img
{
    position: relative;
    position: absolute;
    width: 23px;
    right: 19px;
    top: 9px;
}
/*------------------------ end banner section ----------------------------------*/


/*------------------------------ start middle portion visa step ---------------------------*/

.why_row h2
{
    margin-bottom: 15px;
}
.feature_hidden
{
    display: none;
}
.why_visa
{
	width:100%;
	text-align: center;
    padding-top: 15px;
}
.w_visa
{
    min-height: auto!important;
}
.why_visa .icon i
{
	color: #cacaca;
    display: block;
    background: #edeff1;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
	border-radius: 50%;
	font-size: 36px;
}
.why_visa h3
{
	margin-bottom: 2px;
    margin-top: 10px;
}
.why_visa p
{
	text-align: justify;
}
.why_visa:hover i
{
	color:#005ea5;
	
}
.why_visa p
{
 margin-bottom: 0px;
}
.why_visa a
{
 font-size: 17px;
    margin-top: 5px;
    display: inline-block;
}
.why_visa a:hover,.why_visa a:focus
{
 text-decoration: none;
}

#f1p,#f2p,#f3p,#f4p
{
	display: none;
}
.visa_country
{
	margin-bottom: 20px;
}
.visa_country h3
{
	margin: 10px 0px
}
.visa_country aside
{
	background-color:#EDEFF1;
	padding:15px 0px 5px 0px;
}
.visa_country aside>i
{
    display: block;
    width: 148px;
    height: 150px;
    margin: 0 auto;
    background-image: url(/assets/images/country_flag.png);
    background-repeat: no-repeat;
}
i.india
{
    
    background-position-x: -461px;
}
i.vietnam
{
    background-position-x: -915px;
}
i.myanmar
{
    background-position-x: -1361px;
}
i.turky
{
    background-position-x: -614px;
}
i.malaysia
{
    background-position-x: -1211px;
}
i.australia
{
    background-position-x: -162px;
}
i.srilanka
{
    background-position-x: -1662px;
}
i.taiwan
{
    background-position-x: -1064px;
}
i.ukraine
{
    background-position-x: -763px;
}
i.ethiopia
{
    background-position-x: -312px;
}
i.singapore
{
    background-position-x: -1827px;
}
.visa_country:hover a aside
{
	background-color:white;
}
.visa_country:hover a img
{
	transform:scale(.9,.9);
	transition-duration: .4s;
}
.visa_country img
{
	margin:0 auto;
	width: 110px;
	transition-duration: .4s;
}
.visa-step-sec
{
	box-shadow: 0 2px 38px -34px #000;
    padding: 25px;
    padding-top: 25px;
    padding-top: 15px;
    margin-top: 24px;
    padding-bottom: 15px;
    height: 222px;
}
.visa-step-sec h2 span
{
    font-family: arial;
    font-weight: bold;
}
.visa-step-sec p
{
    margin-top: 6px;
    text-transform: capitalize;
}

.visa-step-sec>div>span 
{
    color: #005ea5;
    font-size: 70px;
    display: inline-block;
    background: white;
    width: 125px;
    height: 125px;
    line-height: 125px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.41);
}
.eligible ol li
{
	font-size: 17px;
}
.head_para
{
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
    line-height: normal;
}
/*------------------------------ end middle portion visa step ---------------------------*/






/*------------------------------ start footer -------------------------*/
.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	position: relative;
	width: 100%;
	max-width: 100%;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: #333;
	font-size: 19px;
	padding: 10px 0 0px;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	color: #7F8C8D;
    margin-top: 5px;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: inline-block;
}
.footer a {
	color: #333;
	font-size: 16px;
}
.footer a:hover {
	text-decoration:underline;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #005ea5;
	padding-top: 10px;
	padding-bottom: 10px;
	color:white;
    max-width: 100%;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}
.fb i,.tw i,.ins i
{
	color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #666666;
    margin-right: 7px;
    border-radius: 3px;
}
.social_ul a
{
	display:inline-block!important;
}
.social_ul a:hover
{
	text-decoration:none;
	
}
.fb:hover
{
	color:#29487d;
}
.fb:hover i
{
    background-color: #29487d;
}
.tw:hover
{
	color: #1da1f2;
}
.tw:hover i
{
    background-color: #1da1f2;
}
a.ins:hover
{
	color:#d65b0a;
}
a.ins:hover i
{
     background: linear-gradient(30deg, #c70891,#d65b0a, #ffbb00);
}

.follow_ul li
{
display: inline-block;
}
.follow_ex
{
    display: none;
}
/*------------------------------- end footer ------------------------------*/













/*----------------------------- start index_inner page css ---------------------*/


/*----------------------------- start table section ---------------------*/
.table_section
{
	background-color:#EDEFF1;
}
.table_div
{
	width: 100%;
    background-color: white;
    margin: 0 auto;
    padding: 20px 50px;
    box-shadow: 0px 16px 10px -13px rgba(0,0,0,.2);
	
}
.table_h
{
	margin-top:0px;
}
.nationlity
{
	margin-bottom: 15px;
    width: 100%;
}
.nationlity>h3
{
	margin-top:0px;
    color:#005ea5;
    text-align: left;
}
.nationlity>h3>i
{
	color:#005ea5;
	float:right;
}
.nationlity>form>select
{
	border:1px solid #ddd;
}
.table_cont>table
{
	margin-bottom: 5px;
}
.table_cont table thead tr
{
	background-color:#005ea5;
	color:white;
}
.table_cont table thead tr th
{
	padding:10px 3px;
	text-align: center;
	font-weight: normal;
	vertical-align: top!important;
	
}
.table_cont table tbody tr td
{
	text-align: center;
    padding:10px 3px;
	background-color:transparent!important;
    
}
.myactive
{
	background-color:#e3f2ff;
}
table#visa_type tbody tr:hover
{
	background-color:#e3f2ff;
}
.req_table
{
	text-align: left;
    padding-left: 17px;
}
.req_table li
{
	font-size: 17px;
}
.req_table li span
{
	color: #055da5;
	font-family: 'Hammersmith One';
}
.get_start
{
	margin-top: 15px;
	width: 160px!important;
	padding: 12px 0px;
}
.table_2
{
    border:none;;
    padding: 0px;
    display: none;
    margin-bottom: 5px;
    padding-top: 0px;
}
.table_2 p
{
    font-size: 16px;
}
.table_2 p,.table_2 label
{
    margin-bottom: 0px;
}
.table_2 .row
{
    padding-top: 3px;
    padding-bottom: 3px;
}

.table_2 .row .col-sm-6:first-child
{
    padding-right:0px;
}
.table_2 button
{
    margin-right: 15px;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-top:0px;
}

/*----------------------------- end table section ---------------------*/






/*----------------------------- end index_inner page css ---------------------*/










/*------------------------------- start embassy page css ----------------------------*/
.p_1
{
    padding:0px 125px;
    text-align: center;
}
.embassy_of h3
{
    margin: 0px 0px 5px 0px;
    text-align: left;
}
.link_sec
{
	background-color:#EDEFF1;
}
.link_sec h3
{
    font-size: 24px;
    margin-bottom: 12px;
}
ul.link_container 
{
	text-align:center;
	margin-bottom: 0px;
}
ul.link_container li
{
	display:inline-block;
}
ul.link_container li a
{
	color: #005ea5;
    width: 45px;
    height: 45px;
    display: block;
    line-height: 45px;
    background: white;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    border: 1px solid #e6e6e6;
}
.embassy_cont>div
{
	margin-bottom:12px;
}
.embassy_cont>div>article
{
	padding:0px 15px;
}
.embassy_cont>div a
{
	color: #333;
	font-size: 18px;
	/* text-transform: uppercase; */
}


.emb_btn_d
{
    text-align: right;
}
.emb_btn_d>a
{
    display: inline-block;
    padding: 5px 7px;
    text-align: center;
    margin-top: 8px;
    margin-right: 15px;
    white-space: normal;
    width: auto;
}

ul.emb_in 
{
	list-style-type:none;
	padding-left:0px;
}

.emb_in a
{
	display:block;
	color: #333;
    font-size: 18px;
    /* text-transform: uppercase; */
}
.emb_head
{
	font-size: 25px;
}
/*------------------------------- end embassy page css ----------------------------*/
.container_div
{
	/*background-color: #EDEFF1;
    padding: 20px 20px;
    border: 1px solid #e1e2e2;*/
}
.my>section
{
	padding:20px 0px;
}
.my>section:nth-child(odd)
{
	background-color:#EDEFF1;
}
.my1>section
{
	padding:20px 0px;
}
.my1>section:nth-child(even)
{
	background-color:#EDEFF1;
	
}

.emb_row
{
	padding:15px;
}
.my_art
{
	text-align:center;
	height:100%;
}
.my_col
{
	padding: 0px;
    background-color: white;
    border: 1px solid #dadde0;
}
.my_art>div
{
	text-align: center;
    background: #005ea5;
    margin: 0px;
    position: relative;
    height: 40px;
}

.my_art>div>span
{
	background: #edeff1;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    border: 2px solid #055da5;
    font-size: 22px;
    top: -20px;
    transition-duration: .5s;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    color:#005ea5;
}
.my_art>div>span a
{
    color:#005ea5;
    display: block;
}
.my_art>div>span a:hover
{
    color:#888888;;
}
.my_art>aside
{
    padding:8px;
    text-align: left;
}
.my_art>aside p
{
    margin-bottom: 0px;
}
.my_art>aside a
{
    word-wrap: break-word;
    word-break: break-all;
}
/* .my_art:hover h1>span
{
	transform:translateY(-10px);
	transition-duration:.5s;
} */
.city_name h3 
{
	margin:0px;
	margin-bottom:18px;
}
.city_name h3 a
{
	Color:#333;
	position:relative;
}
.city_name h3 a:before
{
	content: "";
    position: absolute;
    width: 166px;
    height: 3px;
    background-color: #f39b03;
    bottom: -8px;
    left: 0px;
}
.city_name h3 a
{
	
	color: #005ea5;
}
.city_name h2 a:hover,.city_name h2 a:focus
{
	
}
.info_div>h3
{
	color:black;
	font-size:20px;
	color:#333;
}




/*---------------------- testing ------------------*/
#embassy_flex_cont
{
	width:100%;
	
	display:flex;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 15px;
	padding-left: 8%;
}
#embassy_flex_cont>div
{
	flex-basis:50%;
}
#embassy_flex_cont>div:nth-child(2)
{
	flex-basis:50%;
}

.map 
{ 
    width: 100%;
	height:100%;
    margin: 0 auto;
}
.map>iframe
{
	height:100%;
    border: 3px solid #dddfe0;
}
.info_div>article>p
{
	text-align:justify;
}
.info_div>p:last-child
{
	margin-bottom:0px;
}
/*---------------------- testing ------------------*/




/*------------------------- start embassy_detail1 css -----------------------*/
.flag_aside img
{
	border: 4px solid #edeff1;
    box-shadow: 0px 8px 23px -6px gray;
	margin-bottom: 18px;
	/* width:80%; */
}
.f_flag
{
	float:right;
}
.flag_aside:hover
{
	border:5px solid orang;
}
.suggested_emb
{
	background: #696969;
}
.suggested_emb h3
{
	color: white;
    margin-top: 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,.5);
}
.suggested_emb p
{
	color: white;
    margin-bottom: 0px;
}
.detail_map
{
	width:100%;
}
#emb_block {
    width: 100%;
    display: flex;
}

#emb_block>div {
	flex: 1;
	border: 1px solid #e2e2e2;
    border-bottom: none;
}

.sidebar
{
	width: 100%;
    border-left: 1px solid #e2e2e2;
    padding: 0px 15px 20px 15px;
    border-radius: 2px;
}
.sidebar a
{
    font-size:16px;
}

p.updating
{
    background: #000000bf;
    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    line-height: 500px;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    z-index: 5;
    letter-spacing: 1px;
}
div.success
{
    text-align: center;
    background: #7fd68a;
    border: 3px solid #81ec8f;
    color: white;
    position: fixed;
    width: 500px;
    top: 50px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    border-radius: 10px;
}
/*------------------------- end embassy_detail1 css -----------------------*/









/*------------------------------- start report change -----------------------*/
#report_popup
{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 5;
    overflow-y: scroll;
    display: none;
    
}
#report_popup .report_container
{
    width:750px;
    margin:0px auto;
}
#report_popup .report_container .trigger_div
{
    text-align:right;
}
#report_popup .report_container .trigger_div i
{
    cursor:pointer;
    font-weight:bold;
    display:inline-block;
    width:25px;
    color:red;
    font-size:30px;
}
#report_popup .report_container .content_div
{
    width:100%;
    background-color:white;
    box-shadow: 0px 2px 5px black;
}
.report_form
{
    padding: 15px 25px;
}
.report_form .label_container,.report_form .element_container
{
	text-align:left!important;
    margin-top: 12px;
}
.report_form .label_container label,.report_form .element_container label
{
	margin-bottom: 1px;
    line-height: normal;
    text-transform: capitalize;
}
.report_form textarea
{
    height:70px;
}


.report_cont>aside
{
    text-align: right;
}
.report_cont>aside i
{
    color: red;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    width: 25px;
}
.label_left
{
	text-align:left!important;
}

.rep_change_form textarea
{
    height:70px!important;
}


input[type="text"],input[type="email"],input[type="tel"],input[type="password"],select
{
	width: 100%;
    height: 35px;
	padding-left:12px;
	border: 1px solid #b5b5b5;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="password"]:focus,select
{
	
	outline-width:0px;
	
}
textarea
{
	width:100%;
	height: 90px;
	margin-bottom: 20px;
	padding-left:12px;
}


.label_container
{
	text-align:right;
}
.label_container label span
{
	color: #ce0202;
    margin-left: 2px;
    line-height: normal;
    vertical-align: bottom;
    
}
.form_part .label_container
{
	text-align:left!important;
}

/*------------------------------- end report change -----------------------*/



/*------------------------- start details  -----------------*/


.sec1 label
{
    margin-bottom: 3px;
    line-height: normal;
}
.sec1 h3
{
    margin-bottom: 15px;
    margin-top: 8px;
}
.sec1 .element_container
{
    margin-bottom: 15px;
}

#step2_cont
{
	display:none;
}

.processing_time_div
{
	width: 100%;
    background-color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #e3e6e8;
}
.processing_time_div span
{
	color:#005ea5;
}
.applicant_table td,.applicant_table th
{
	text-align:center!important;
	vertical-align:middle!important;
	font-size:16px;
}
.applicant_table th
{
	font-weight:normal;
	vertical-align:top!important;
}
.applicant_table td
{
	vertical-align:middle!important;
}
.detail_heading
{
	/*background: #EDEFF1;
    padding: 15px 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);*/
}

.appl_detail p
{
	color:gray;
	font-size:15px;
}

.hide_btn
{
	display:none;
}
.arr_d
{
	opacity: 0;
	text-align: center;
}
/*------------------------- end details  -----------------*/






/*----------------------- start report change form popup ------------------*/
.rep_change_form input
{
	height:30px;
	margin-bottom:10px;
}
.rep_change_form label
{
	text-transform:capitalize;
}
.rep_change_form .label_container
{
	text-align: left!important;
}
form.rep_change_form label
	{
		font-size:15px;
	}
	form.rep_change_form .my_btn
	{
		padding-top:7px;
		padding-bottom:7px;
	}
/*----------------------- end report change form popup ------------------*/




/*----------------------- start faq ------------------*/
.faq_div
{
    text-align: justify;
}
ul.faq_ul
{
	list-style-type:none;
	padding-left:0px;
}
ul.faq_ul>li
{
	font-size: 20px;
	font-family: 'Hammersmith One';
	margin-top: 20px;
}
ul.faq_ul p
{
	
}
ul.faq_ul ol li
{
	font-size: 17px;
}
/*-----------------------end faq ------------------*/


/*-------------------------- start news -----------------------*/


.info_container
{
	margin-bottom:20px;
	position:relative;
}
.info_container>ul
{
    position: absolute;
    left: -54px;
    padding-left: 0px;
    top: 0px;
    list-style-type: none;	
}
.info_container>ul>li
{
	background-color: #01b0ef;
    border-bottom: 1px solid white;
    color: white;	
	font-size: 22px;
    text-align: center;
	}
.info_container>ul>li>a
{
    color: white;
	display:block;
	padding:13px;	
	}
.info_container>ul>li>a:hover
{
    color:black;
	}

.info_container>a
{
    color:#333;
    display: block;
    margin-bottom: 15px;
}
.info_container>a>span
{
    margin: 10px 0px 5px 0px;
    display: block;
    font-size: 15px;
    color: #868686;
}
.info_container>a>h2
{
    font-size: 26px;
}
.info_container>a>p>a
{
    display: inline-block;
    margin: 5px 0px;
}
.info_container>a>p
{
    max-height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    margin-bottom: 0px;
	}
.info_container>a>p+a
{
    font-size:17px;
	}
.right_main_div
{
	width:100%;
	margin-bottom:20px;
	}
.right_main_div>h3
{
	background: #005ea5;
    color: white;
    margin: 0px;
    padding: 10px 15px;	
	}
.related_post
{
        margin-top: 13px;
	}
.related_post a 
{
	color:#333;	
	}
.related_post a:hover
{
	text-decoration:none;
	}
/*-------------------------- end news -----------------------*/







/*------------------- start Order Summery -------------------------*/
.order_head
{
    color: #005ea5;
    text-align: center;
    margin-bottom: 10px;
}
.left_label
{
    font-size: 18px;
    font-family: 'Hammersmith One';
    font-weight: normal;
}
.detail_panel
{
    border-radius: 0px;
    box-shadow: none;
}
.detail_panel .panel-heading
{
    background-color:transparent;
    padding: 7px 0px;
}
.detail_panel .panel-heading .nav-tabs
{
    border: none;
}
.detail_panel .nav-tabs > li > a
{
    border-radius: 0px;
    font-size: 18px;
    font-family: 'Hammersmith One';
    color:white;
    padding: 5px 20px;
}

.detail_panel .applicant_tabs >ul> li>a.activeUser
{
    color: #fff!important;
    border-bottom: 3px solid #e3e3e3;
    background: #02508c!important;
    display: block;
}
.detail_panel .applicant_tabs >ul> li > a
{
    border:1px solid #e3e3e3;
    border-bottom: 3px solid #e3e3e3;
}
.detail_panel>.panel-body
{
    padding:15px 0px;
}

.file_upload
{
    width: 190px;
    height: 200px;
    border: 3px solid #dddedf;
    margin-left: auto;
    margin-right:auto;
}
.file_upload input[type="file"]
{
    display: none;
}
.file_upload img
{
    width:100%;
    height:100%;
}
.file_col
{
    text-align: center;
}
.file_col label
{
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 19px;
}
.applicant_tabs>ul>li
{
    margin-right:10px;
}
.applicant_tabs ul li a
{
    padding:5px 12px!important;
}
.applicant_form .label_container label
{
    display: block;
    width:100%;
    height:23px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*------------------- end Order Summery -------------------------*/




.test_article
{
    width:100%;
    display: flex;
}
.test_article>div
{
    flex-basis: 33.33%;
}

.banner_contact
{
	padding-bottom:50px;
}

.left_contact>h3
{
	margin-top: 0px;
	padding-bottom: 9px;	
	}

.contact input,.contact textarea,.contact select
{
	width:100%;
	height:35px;
	padding-left:12px;
}
.contact textarea
{
	width:100%;
	height:130px;
}
.contact button
{
	display:block;
	margin-bottom:10px;
}
.right_contact iframe
{
    width: 100%;
}


.contact_side>ul
{
    list-style-type: none;
    padding-left: 0px;
}
.contact_side>ul>li 
{
    padding: 3px 10px;
    border: 1px solid #b5b5b5;
    font-size: 19px;
    margin-left: 10px;
    width: 227px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    transition-duration: .2s;
}
.active_content
{
    background: #005ea5;
    font-size: 19px;
    color: white;
    padding: 3px 10px;
    border: 1px solid #005ea5!important;
    position: relative;
}
/*--------------------------- end contact form -----------------------*/




/*--------------------------- start visa status -----------------------*/
.status_div form
{
    width:700px;
    margin:0 auto;
    margin-top: 25px;
}
/*--------------------------- end visa status -----------------------*/





/*--------------------------- start forms -----------------------*/
.form_section .label_container 
{
    text-align: left!important;
    margin-bottom: 5px;
    margin-top: 10px;
}
.form_section .element_container 
{
    margin-bottom: 5px;
}
/*--------------------------- end forms -----------------------*/




/*---------------------- start Login form ---------------------*/
.login_div
{
    width: 500px;
    padding: 23px 0px;
    margin-left: auto;
    margin-right: auto;
}

.login .label_container
{
    margin-bottom:4px;
    overflow: hidden;
}
.login .element_container
{
    margin-bottom: 17px;
    overflow: hidden;
}
/*---------------------- end Login form ---------------------*/







/*--------------------- start myProfile -------------------*/
.div_for_user:first-child .open,.div_for_user:nth-child(2) .open
{
    display:block;
}
.new>h4
{
    font-size: 20px;
    margin: 35px 0px 12px 0px;
    color: #edeef1;
    background: #005ea5;
    padding: 7px 15px 7px 10px;
    cursor:pointer;
}
.new>h4>span:nth-of-type(1)
{
    color:#d4fffd;
}
.new>h4>span:not(:nth-of-type(1))
{
    font-size:15px;
}
.new>h4 b
{
    font-weight: normal;
    margin-right:5px;
}
.new>h4 b:nth-of-type(2)
{
    margin-left:5px;
}
.open
{
    display: none;
}
.div_for_user>div h5
{
    font-size: 20px;
    margin: 15px 0px 12px 0px;
    text-align: center;
    color: #005ea5;
    padding: 5px 10px;
}
.processing_type.super
{
    color: red;
    font-family: 'Hammersmith One';
}
.processing_type.rush
{
    color: orange;
    font-family: 'Hammersmith One';
}
.processing_type.nor
{
    color: #005ea5;
    font-family: 'Hammersmith One';
}
.processing_type span i
{
    color: #29e1d0;
}
.table_order
{
    width:100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.table_order th,.table_order td
{
    border: 1px solid #ddd;
}
.table_order>thead>tr
{
    /* background-color: #edeff1; */
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Hammersmith One';
}
.table_order>thead>tr>th
{
    padding: 10px 3px;
    text-align: center;
    font-weight: normal;
    vertical-align: top!important;
}
.table_order>tbody>tr>td
{
    padding: 5px 3px;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}
.profile_opt_ul
{
    list-style-type:none;
    padding-left:0px;
    text-align: center;
}
.profile_opt_ul li
{
    display:inline-block;
    margin-right:10px;
}
.profile_opt_ul li a
{
    padding: 4px 11px;
/*    font-family: 'Hammersmith One';*/
    font-size: 18px;
    color: #005ea5;
    background-color:white;
    /* box-shadow: 2px 2px 0px rgb(197, 202, 207); */
    display: block;
    border-bottom: 2px solid transparent;
    border: 1px solid #dfdfdf;
}
.profile_active
{
    background-color: #005ea5!important;
    color: white!important;
    border-bottom: 2px solid white!important;
    position:relative;
}
.profile_active:before
{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border: 12px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    bottom: -25px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}
#profile_option
{
    display: none;
}
.profile_opt_ul 
{
    text-align: right;
    margin-bottom: 0;
    margin-top: 8px;
}

@media (max-width:1075px)
{
   .profile_opt_ul li a i
    {
        display:none;
    } 
}
@media (max-width:1000px)
{
    .profile_opt_ul li a i
    {
        display:block;
    } 
    .profile_opt_ul li a span
    {
        display:none;
    }

   .us_in .col_left
    {
        width:50%;
    } 

}
@media (max-width:768px)
{
    .us_in .col_left
    {
        float: left;
        width:50%;
    } 
}
@media (max-width:720px)
{
    .new>h4
    {
        margin: 0px -15px 12px -15px;
        text-align: center;
        padding-left:15px;
        background-color:transparent;
        border-bottom:1px solid #ddd;
    }
    .new>h4>span:nth-of-type(1)
    {
        display:block;
        color:#005ea5;
    }
    .new>h4>span:not(:nth-of-type(1))
    {
        color:#333;
    }
    .new>h4 b:not(:last-of-type)
    {
        display:none;
    }
    .new>h4 b
    {
        visibility: hidden;
        margin:0px;
    }
    
}
@media (max-width:600px)
{
    .div_for_user>div>h5
    {
        text-align: left;
        padding-left:0px;
        padding-right:0px;
        margin-bottom: 0px;
    }
    .table_order
    {
        border:none;
    }
    .table_order,.table_order thead,.table_order th,.table_order tbody,.table_order td,.table_order tr
    {
        display: block;
    }
    .table_order thead
    {
        display: none;
    }
    .table_order tbody tr
    {
        /* border-bottom: 2px solid #f6f6f6; */
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .table_order td
    {
        padding-left:35%!important;
        position:relative;
        text-align:left!important;
        border:none;
    }
    .table_order td.bbbb
    {
        display:none;
    }
    .table_order tr td:before
    {
        position:absolute;
        left:0px;
        font-size: 17px;
        font-family: 'Hammersmith One';
    }
    .table_order tr td:nth-child(1):before
    {
        content:"Full Name";
    }
    .table_order tr td:nth-child(2):before
    {
        content:"Dob";
    }
    .table_order tr td:nth-child(3):before
    {
        content:"Nationality";
    }
    .table_order tr td:nth-child(4):before
    {
        content:"passport no";
    }
    .table_order tr td:nth-child(5):before
    {
        content:"Visa Status";
    }
    .table_order tr td:nth-child(6):before
    {
        content:"Review";
    }
    .table_order tr td:nth-child(7):before
    {
        content:"Review";
    }
}
@media (max-width:580px)
{
    .us_in .col_left
    {
        float: none;
        width:100%;
    } 
    #profile_option
    {
        display: block;
    }
    .profile_opt_ul div
    {
        display:none;
    }
    .profile_opt_ul li
    {
        display:block;
        margin-right:5px;
    }
    .profile_opt_ul
    {
        text-align: center!important;
    }
    .profile_opt_ul li a i
    {
        display:inline;
    } 
    .profile_opt_ul li a span
    {
        display:inline;
    }
    .profile_opt_ul li a 
    {
        border: none;
    }
}
/*--------------------- end myProfile -------------------*/



/*----------------------- start apply e visa -----------------*/
.country_specification>section
{
    padding-top:0px;
}

.countray_flag aside
{
    width:180px;
    margin: 0px auto;
    border: 4px solid #edeff1;
    box-shadow: 0px 8px 23px -6px grey;
}
.countray_flag aside img
{
    width: 100%;
}
.intro_container
{
    width:100%;
    margin:0px auto;
}
.intro_container h2
{
    margin-bottom: 6px;
    font-size: 22px;
}
.intro_container h2 i
{
    width: 45px;
    height: 45px;
    background: #edeef1;
    border-radius: 3px;
    text-align: center;
    line-height: 45px;
    font-size: 26px;
}
#intro_div 
{
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
	margin-top: 20px;
    margin-bottom: 20px;
}

#intro_div div {
    -webkit-flex-basis: 7%; /* Safari 6.1+ */
    flex-basis: 7%;
}
#intro_div div:nth-of-type(1) 
{
   border-right: 1px solid #ddd;
    text-align: center!important;
}
#intro_div div:nth-of-type(1) i 
{
   font-size: 35px;
    color:#ddd;
}


#intro_div div:nth-of-type(2) {
    -webkit-flex-basis: 85%; /* Safari 6.1+ */
    flex-basis: 85%;
	padding-left:15px;
}
#intro_div div:nth-child(2) p
{
	font-size: 19px;
    color: #2f2f2f;
    text-align: justify;
    margin-bottom: 0px;
	}

.instruction>div
{
    text-align: left;
}
.instruction label
{
    font-size: 20px;
    margin-bottom: 5px;
}

.instruction>p
{
    text-align: justify;
}
.instruction ol 
{
    list-style-type:none;
    padding-left:0px!important;
    margin-bottom: 0px;
}
.instruction ol li
{
    font-size: 17px;
    margin-bottom: 3px;
}
/*
.instruction ol li:before
{
   font-family: "Font Awesome 5 Free";
   content: "\f0ea";
   display: inline-block;
   padding-right: 6px;
   vertical-align: middle;
}
*/
.instruction ol li i
{
    color:#005ea5;
    margin-right:4px;
}
/*----------------------- end apply e visa -----------------*/




/*----------------------- start user embassy --------------------*/
.user_emabassy
{
    width:900px;
    margin:0 auto;
}
@media (max-width:950px)
{
   .user_emabassy
    {
        width:100%;
    } 
}
/*------------------------ end user embassy -------------------------*/



/*-------------------------- start payment failed ------------------------*/
.failed_art
{
    margin-top:30px;
}
.failed_art>h1>span
{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 57px;
    color: #e00303;
    border: 6px solid #e00303;
}
.failed_art>h2
{
    color:#e00303;
    margin:15px 0px;
}
.failed_art>p strong
{
    font-family: 'Hammersmith One';
    font-weight: normal;
}
.failed_art>p:nth-of-type(2)
{
    width:50%;
    margin: 0 auto;
    margin-top: 30px;
    
}
/*-------------------------- end payment failed ------------------------*/


/*------------------------------- start media query ------------------------------*/
/*
@media (max-width:1635px)
{
    .visa-sec
    {
        width:1500px;
    }
}
@media (max-width:1535px)
{
    .visa-sec
    {
        width:1400px;
    }
}
@media (max-width:1435px)
{
    .visa-sec
    {
        width:1300px;
    }
}
*/
@media (max-width:1400px)
{
    .my_art>div>span
    {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 19px
    }
    .failed_art
    {
        margin-top:15px;
    }
    .failed_art>h1>span
    {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 37px;
    }
}
@media (max-width:1250px)
{
/*
    .table_data
    {
        width:100%;
        padding-left: 15px!important;
        padding-right:15px!important;
    }
*/
    .table_div 
    {
        padding: 0px 0px;
        background-color: transparent;
        box-shadow: none;
    }
    .table_cont>table 
    {
        background: white;
    }
}
@media (max-width:1240px)
{
    .visa-step-sec
    {
        height: 240px;
    }
}
@media (max-width:1199px)
{
    .info_container>ul 
    {
        position: static;
        margin-bottom: 0px;
        text-align: right;
    }
    .info_container>ul>li
    {
        display: inline-block;
        margin-right: 1px;
    }
    .info_container>ul>li>a 
    {
        padding: 0px;
        width: 35px;
        height: 35px;
    }
    .form_part .row .col-xs-6
    {
        padding:5px;
    }
    .p_1
    {
        padding:0px 0px;
        text-align: center;
    }
    .applicant_form>.app_genral .row .col-xs-6,.applicant_form>.app_info .row .col-xs-6,.applicant_form>.app_personal .row .col-xs-6,.applicant_form>.app_father .row .col-xs-6,.applicant_form>.app_ref .row .col-xs-6,.applicant_form>.app_shought .row .col-xs-6
    {
        padding:5px;
    }
    .de_head
    {
        margin-left:-8px;
    }
    #intro_div div:nth-of-type(2) 
    {
        -webkit-flex-basis: 92%;
        flex-basis: 92%;
        padding-left: 15px;
    }
}
@media (max-width:1091px)
{
    .contact_side
    {
        margin-bottom: 15px;
    }
    .contact_side>h3 
    {
        padding-right: 14px;
        display: inline-block;
        margin-bottom: 0px;
    }
}
@media (max-width:992px)
{
	.arr_d
	{
		opacity: 1;
	}
	.footer ul
	{
		margin: 0px;
	}
	.footer ul li a
	{
		padding-bottom: 0px;
        margin-bottom: 3px;
	}
    .visa-step-sec
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .follow_ul
    {
        margin-top: 7px!important;
    }
    .login_cont 
    {
        width: 80%;
    }
    .sidebar 
    {
        border:none;
        margin-top: 15px;
        padding-bottom: 0px;
    }
    .form_container form 
    {
        padding: 0px 0px;
    }
    .sec1 label
    {
        font-size: 13px;
    }
    .follow_ex
    {
        display: block;
    }
    .step_sec
    {
        padding:30px 0px;
    }
    #intro_div div:nth-of-type(1)  
    {
        border-right:none;
    }
    #intro_div div:nth-of-type(1) i 
    {
        font-size: 23px;
    }
    #intro_div div:nth-of-type(2) 
    {
        -webkit-flex-basis: 93%;
        flex-basis: 93%;
        padding-left: 0px;
    }
}
@media (max-width:991px)
{
    .feature_hidden
    {
        display: block;
    }
    .lang_select 
    {
        width: 75px;
        left: -2px;
    }
    .last_col
    {
        clear: both;
    }
    .contact_side>ul>li
    {
        display: inline-block;
        margin-bottom: 10px;
        display: inline-block; 
    }
    .reply_div
    {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .failed_art>p:nth-of-type(2)
    {
        width:70%;
    }
}
@media (max-width:991px) and (min-width:759px)
{
    .active_content::before
    {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        left: 0;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        bottom: -24px;
        border: 10px solid #005ea5;
        border-bottom: 13px solid transparent;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
    }
}
@media (max-width:900px)
{
    #report_popup .report_container
    {
        width:80%;
    }
}
@media (max-width:768px)
{
	.navbar-left h1 .logo
	{
		width: 160px;
	}
	.drop_container 
	{
		padding: 15px;
		margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
	}
	.drop_container>img 
	{
		display:none;
	}
	
	.drop_container h2 
	{
		font-size: 26px;
	}
	.drop_container form select 
	{
		height: 40px;
	}
	.my>section:nth-child(odd)
	{
		border-left:0px;
	}
	.my>section:nth-child(even)
	{
		border-right:0px;
	}
	#embassy_flex_cont
	{
		display:block;
		padding: 0px 50px;
	}
	.map
	{
		width:100%;
	}
	#main div:nth-child(1)
	{
		text-align:center;
	}
    #emb_block>div:last-child
	{
		margin-bottom: 0px;
	}
	.my_art>h1>span 
    {
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 50%;
		border: 2px solid #055da5;
		font-size: 18px;
		top: -20px;
		transition-duration: .5s;
		position: absolute;
		left: 0px;
		right: 0px;
		margin-left: auto;
		margin-right: auto;
	}
    .my_art>div 
    {
        margin-left: -15px;
        margin-right: -15px;
    }
	.table_cont>table
	 {
		table-layout: unset;
	}
    .visa-step-sec
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #EDEFF1;
        padding:10px;
        padding-top: 0px;
    }
    .nationlity
    {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }
    .nationlity>h3 
    {
        margin-bottom: 5px;
    }
    .login_content 
    {
        padding: 20px;
    }
    .sec1 h3 
    {
/*        margin-top: 0px;*/
    }
    .main_heading>span 
    {
        margin-bottom: 10px!important;
    }
    .banner_div 
    {
        padding:15px 0px;
    }
    .table_div 
    {
        padding: 10px 0px;
        background-color:transparent;
        box-shadow: 0px 0px;
        padding-bottom: 0px;
    }
    .get_start 
    {
        margin-top: 5px;
    }
    .visa-step-sec
    {
        height: auto;
    }
}
@media (max-width:758px)
{
    .contact_side>ul>li
    {
        width:300px;
    }
}
@media (max-width:767px)
{
    #emb_block 
	{
		display: block;
	}
    #emb_block>div
	{
		margin-bottom: 20px;
        border:none;
	}
    ul.nav_ul li 
    {
        display: block;
        text-align: center;
    }
    .follow_ex
    {
        display: none;
    }
    .step_sec
    {
        padding:30px 0px 20px 0px;
    }
    .visa-step-sec h2 span:last-child 
    {
        display: none;
    }
    .drop_container1
    {
        margin-left: 0px;
    }
    .drop_container
    {
        margin-left: auto;
        margin-right: auto;
    }
    .table_cont
    {
        display: none;
    }
    .table_2
    {
        display: block;
    }
    .status_div form
    {
        width:400px;
    }
}
@media (max-width:758px)
{
    .contact_side>ul 
    {
        text-align: center;
    }
    .contact_side>ul>li
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 700px)
{
	.navbar-left h1 .logo 
	{
		margin-left:auto;
		margin-right:auto;
	}
	.navbar-right>div:first-child 
	{
		text-align:center;
	}
	.navbar-right>div a 
	{
		margin-right: 5px;
	}
	.top_link 
	{
		text-align: center;
	}
    .emb_in_row .col-xs-6
    {
        float: none;
        width:100%;
    }
    #intro_div div:nth-of-type(1) i 
    {
        font-size: 17px;
    }
}
@media (max-width:600px)
{
    .top_link li a span
	{
		display:none;
	}
    .capcha_offset
    {
        margin-left:10%!important;
    }
    .left_contact
    {
        padding: 30px;
    }
    .failed_art>p:nth-of-type(2)
    {
        width:100%;
    }
}
@media (max-width: 550px)
{
	
	.col_break
	{
		width:100%;
		float:none;
	}
	
	.main_heading h1 
	{
		margin-top: 0px;
		font-size: 30px;
	}
	.nationlity
	{
/*		padding:0px;*/
	}
	.table_section
	{
		/* padding-top: 0px; */
	}
	.heading_in
	{
		margin-top:0px!important;
	}
	.right_link a 
	{
		padding:8px 15px!important;
	}
	.right_link a i
	{
		font-size: 19px;
	}
	.pro>span
	{
		display:none;
	}
	.form_container form 
	{
		padding: 0px 0px;
	}
	.get_start
	{
		margin-top: 15px;
		width: auto!important;
		padding: 9px 15px;
	}
    .why_visa 
    {
        padding: 15px 0px;
    }
    .visa-step-sec
    {
        width: 100%;
    }
    .login_cont 
    {
        width: 100%;
    }
    .embassy_list
    {
        padding:0px!important;
    }
    #report_popup .report_container 
    {
        width: 90%;
    }
    .report_form 
    {
        padding: 15px 15px;
    }
    .left_contact
    {
        padding: 0px;
        box-shadow:none;
        background-color:transparent;
    }
    .login_div
    {
        width: 100%;
    }
    .reply_div
    {
        width: 100%;
    }
    #intro_div 
    {
        display: block;
    }
    #intro_div div:nth-of-type(1) 
    {
        display: none;
    }
}
@media (max-width:525px)
{
    .personal>div.col-xs-6
    {
        width:100%;
        float: none;
    }
    .personal_inside>.col-xs-12
    {
        width:32%;
    }
}
@media (max-width:600px) and (min-width:400px)
{
    .visa_country img 
    {
        width: 90px;
    }
}
@media (max-width:449px)
{
	
	#embassy_flex_cont
	{
		padding: 0px 15px;
	}
    .f_h3 
    {
        margin-top: 3px!important;   
    }
    .footer h3 
    {
        margin-top: 10px;
    }
    #report_popup .report_container 
    {
        width: 95%;
    }
    .report_form 
    {
        padding: 15px 8px;
    }
    .sec1 .col-xs-6:not(.v_price):not(.s_fee)
    {
        width:100%;
        float: none;
    }
    .sec1 .element_container 
    {
        margin-bottom: 7px;
    }
    .sec1 label 
    {
        font-size: 15px;
    }
    .applicant_form label
    {
        font-size: 15px;
    }
    .visa_country 
    {
        margin-left: -15px;
        margin-right: -15px;
    }
    .footer .row .col-xs-6
    {
        width: 100%;
        float: none;
    }
    .left_contact
    {
        background: transparent;
        padding: 0px;
        box-shadow:none;
    }
    form#contact label 
    {
        margin: 10px 0px 5px 0px;
    }
    .status_div form
    {
        width:100%;
    }
    .applicant_form .row .col-xs-6
    {
        width:100%;
    }
}
@media (max-width:400px)
{
    .drop_container 
    {
        width: 100%;
    }
    .contact_side>ul>li
    {
        width:223px;
        transition-duration: .2s;
    }
    .personal_inside>.col-xs-12
    {
        width:100%;
    }
}
@media (min-width: 450px) and (max-width:768px)
{
    .flag_home .col-sm-6
    {
        width:50%;
        float: left;
    }
    .why_row .col-sm-6,.footer .col-sm-6
    {
        width:50%;
        float: left;
    }
}
@media (min-width: 450px) and (max-width:767px)
{
    
    .footer h3 
    {
        margin-bottom: 5px;
    }
}

@media (min-width:768px) and (max-width:1200px)
{
    .table_container
    {
        width: 100%;
    }
}
@media (min-width: 375px)
{
    .table_2 .col-sm-6 
    {
        width: 50%;
        float:left;
    }
}
@media (min-width: 570px)
{
    .tab_da1
    {
        width: 66.66666667%;
        float:left;
    }
    .tab_da2
    {
        width: 33.33333333%;
            float:left;
    }
    .table_2 button 
    {
        margin-top: 100px;
    }
}
@media (min-width:992px)
{
    .table_cotainer
    {
        width: 100%;
    }
}
@media (min-width:0px) and (max-width:2000px)
{
    html, body 
    {
        height:100%;
    }
    .main_div 
    {
        position: relative;
        min-height:100%;
    }
    #main2 
    {
        padding-bottom: 44px;
    }
    .foot 
    {  
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color:red;
    }
    
}
@media (min-width:0px)
{
    .container
    {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        transition-duration: .2s;
    }
    #report_popup .report_container 
    {
        margin-top: 7px;
    }
    .embassy_cont
    {
        padding-left:0px!important;
        padding-right:0px!important;
    }
    #embassy_flex_cont 
    {
        padding-left: 15px;
        padding-right: 15px;
        transition-duration: .2s;
    }
    .doc_div
    {
        width: 100%;
        margin: 0 auto;
        padding-left:15px;
        padding-right:15px;
    }
    .preloader
    {
        padding-top:150px;
    }
    
}
@media (min-width:992px)
{
    .container
    {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        transition-duration: .2s;
    }
    #report_popup .report_container 
    {
        margin-top: 10px;
    }
    .preloader
    {
        padding-top:170px;
    }
}
@media (min-width:1200px)
{
    .container
    {
        width: 100%;
        padding-left: 75px;
        padding-right: 75px;
        transition-duration: .2s;
    }
    #report_popup .report_container 
    {
        margin-top: 7px;
    }
    #embassy_flex_cont 
    {
        padding-left: 75px;
        transition-duration: .2s;
    }
    .ukrain_flag
    {
        margin-left:12.5%;
    }
    .doc_div
    {
        width: 85%;
        margin: 0 auto;
        /* padding-left: */
    }
    .preloader
    {
        padding-top:200px;
    }
    
}
@media (min-width:1400px)
{
    .container
    {
        width: 100%;
        padding-left: 120px;
        padding-right: 120px;
        transition-duration: .2s;
    }
    .drop_container>img 
    {
        width: 220px;
        right: -119px;
    }
    #report_popup .report_container 
    {
        margin-top: 17px;
    }
    #report_popup .report_container 
    {
        width: 900px;
        margin: 0px auto;
        margin-top: 20px;
    }
    .visa_country aside 
    {
        padding: 35px 0px 15px 0px;
    }
    .visa_country img 
    {
        width: 120px;
    }
    .drop_container form select 
    {
        height: 45px;
    }
    #embassy_flex_cont 
    {
        padding-left: 120px;
        transition-duration: .2s;
    }
    .doc_div
    {
        width: 75%;
        margin: 0 auto;
        /* padding-left: */
    }
    .preloader
    {
        padding-top:300px;
    }
    .intro_container
    {
        width:85%;
        margin:0px auto;
    }
}
@media (min-width:1600px)
{
    .table_div 
    {
        width: 90%;
    }
    .faq_div
    {
        padding: 0px 100px;
    }
    .visa_tips
    {
        padding: 0px 100px;
        text-align: justify;
    }
    
}
@media (min-width:2000px)
{
    .main_div
    {
        width:1999px;
        margin:0 auto;
    }
    .container
    {
        width: 100%;
        padding-left: 120px;
        padding-right: 120px;
        transition-duration: .2s;
    }
}
@media (min-width:2500px)
{
    .main_div
    {
        width:1600px;
        margin:0 auto;
    }
    .container
    {
        width: 100%;
        transition-duration: .2s;
    }
}
/*---------------------- for index end --------------------------*/





/*------------------------------- end media query ------------------------------*/