<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="failed_art">
                    <h1 class="text-center">
                        <span><i class="fas fa-times"></i></span>
                    </h1>
                    <h2 class="text-center">Payment Failed!</h2>
                    <p class="text-center">Your Payment has not completed, Please retry for 
                        Payment on <a routerLink="/my-profile">“Complete Partially Filled Application”</a> 
                        option on home page with Application ID: <strong>{{paymentId}}</strong></p>
                    <p class="text-center"><strong><i class="far fa-hand-point-right"></i> </strong> Kindly inform us immediately if you find any error in your booking. 
Please write us <strong>support [@] visacent.com</strong> or Call/WhatsApp : +91-928-939-4665 
Monday–Friday: 9:00 AM – 4:00 AM IST.</p>
                </article>
            </div>
        </div>
    </div>
</section>