<section class="section_20">
  <div class="container">
      <div class="main_heading main_heading_wbg">
        <h1 class="table_h">FAQs</h1>
        <span></span>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="faq_div">
          <ul class="faq_ul">
            <li style="margin-top:0px;">What is a Visa?</li>
            <p>Visa is a document which gives permission to the passport holder to enter a specific country 
              for a limited time duration. The final authority to allow entry or deny depends on the Immigration
               Officer at the Port of the host country.
              </p>
              <li>What is a passport? </li>
               <p>Passport is a travel document issued by the home government, it is the major proof of holder's identity and citizenship, it is also entitled for International travelling purpose.
              </p>

              <li>Do I need to take a printout of the Visa approval letter while travelling?
                </li>
               <p>Yes, you must take a print out of your e-Visa approval letter to avoid any inconvenience during the verification process by the airlines or by the immigration authorities. </p>
          
               <li>When and how do I check on the visa application status? </li>
               <p>The standard time for the processing of an visa application is between 3-5 working days (it excludes the date of submission, Saturdays, Sundays and Public Holidays) however few applications need more time for processing, it depends on the type of visa and other factors. 
                  To know the exact status of your visa application, you can track your <a href="javascript:void(0);">visa application status</a>.
                  
                  <li>What is a visas Concierge Service?
                    </li>
               <p>Visa Concierge Services provides you specialists who are the mediators to arrange visas as per your requirements under the given deadlines. In today's busy scenario everyone is looking for shortcuts to manage their valuable time to manage their visa and passport requests, the Visa Concierge specialists helps you in handling the overall process from starting to end, quickly and with almost every prospective manner.
                </p>

                <li>What are fee components of visas? </li>
                <p>The cost of a visa depends on various factors like nationality, type of visa, or how soon the visa is required. The main fees components are : </p>
                <ol type="I">
                  <li>Government Agency/Consular Fees
                    </li>
                    <li>Visas actual base Service charges
                      </li>
                      <li>Rush surcharges
                        </li>
                        <li>Delivery charges
                          </li>
                        <li>and Foreign National Surcharges
                          </li>
                </ol>


                <li>What are the mode of payments needed for the processing of Visa?
                  </li>
               <p>Almost all major credit cards are acceptable for the processing of visa payments, it includes American Express, Discover, MasterCard and Visa card.
              </p>

              <li>What are the documents required to apply for a visa?
                </li>
               <p>Every country has their own specific guidelines for visa documentations, it also depends on the type of visa you are applying for. Well, the basic requirements which almost all the countries requires are 2 recent photographs and a valid passport ( it get affixed a blank visa page in your passport). 
                 Some other documents are a detailed travel itinerary, health information and invitation letter.</p>


                 <li>To obtain a Visa, does passport is needed?  </li>
                 <p>Every Country has different guidelines to apply for visa, but the majority of countries, needed a visa affixed to the travellers passport blank page or visa stamp on it. For more details visited us on________________________________. </p>

                 <li>Define Visa On Arrival (VOAs)?
                  </li>
                 <p>Some countries to specific citizens grants visas at the airport when you enter the host country ports. VOAs facility is available mostly on tourist visas rather than business visas. 
                  </p>

                  <li>Why only myVisa?
                    </li>
               <p>myVisa is an unique online Visa service provider, which deals under a single roof, for all the visas requirements for all Nations.
                </p>


                <li>How to apply for Visa through myVisa? </li>
                <p>You can apply for your visa in just 3 simple steps through myVisa-
                  </p>
               <ol type="I">
                  <li>Fill & Submit online application form under given guidelines
                    </li>
                    <li>Make payments

                      </li>
                      <li>You will receive your e-Visa on the registered mail id.

                        </li>
                        
                </ol>


                <li>Does American citizens need a passport to travel United States?
                  </li>
                <p>Yes, all American citizens need a valid passports to enter and exit US. Make sure to carry a valid identical traveling document along with you to abroad, for hassle free journey.
                  </p>

                  <li>For how long my passport will be valid for International travelling? </li>
                  <p>Maximum countries need a passport having validity of at least six months during your journey duration. If it’s expiry date is nearby, then you must apply for the renewal your passport. </p>

                  <li>What is a 'blank' passport page?</li>
               <p>While travelling, your Passport must have few blank pages to do the entries, such as date of arrival & exit, along with immigration stamps. 
                  You must have at least 2 blank pages of your passport and make sure that the pages are clean and without any ink stains.
                   </p>

                   <li>Do children also need US passport? </li>
                   <p>Yes, each individual either children or even infant need a separate passport. Although some countries allow free entry or entry on Parent’s Visa to the children under the age of 14. You must check the requirements of your destination country thoroughly before applying.</p>

                   <li>What are the age criteria to apply for Child Passport? </li>
                   <p>The age of child is 15 years or less than that, to apply for a child passport.
                    </p>

                    <li>What is Personal Appearance for visa?
                      </li>
               <p>If you submit your visa application directly in the consulate, then for the processing of your visa application, you need to appear physically in the consulate to verify your identity or for formal interview. 
                  However, we can process your visa application online, on your behalf, without any hassle.
                  </p>

                  <li>Define 'rush' and 'emergency' for visa processing? 
                    </li>
                  <p>For the 'rush' visa, it takes around 4-7 business days after receiving complete application with all respects. 
                      For 'emergency' visa, the whole process takes less than 3 business days after receiving completed application form.  
                      The Standard processing time for all type of visas are 8 days or more. The delay of visa depends on the nature of visa, applicant is looking for and its documentations or any other requirements.
                      </p>

                      <li>Are vaccinations compulsory for international travelling?
                        </li>
               <p>Few countries really need the proof of vaccination, for certain harmful or communicable diseases like swine flu, Yellow Fever,etc in terms of applying for an visa.  The list of these vaccinations are clearly mentioned in the visas Application form.  
                </p>


                <li>Define consular jurisdiction and how it affects on the processing of visa? </li>
                <p>It is a geographical area for which a consulate take responsibility, to issue the visas. Although, some consulates have very strict enforcement of jurisdiction while other consulates have flexible.
                  </p>

                  <li>Is it compulsory, to sign on passport and visa application? </li>
                  <p>Yes, physical signatures are needed on your passport and visa applications, as it acknowledge that the information on the visa application is true and correct.</p>


                  <li>Do I need a ticket before applying for an ETA? </li>
                  <p>No, before applying for an ETA, there is no need to arrange your flight tickets.</p>

              </ul>
        </div>
      </div>
    </div>
  </div>
</section>
