.scroll{   
	position: fixed;
    bottom: 40px;
    cursor: pointer;
    z-index: 10;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #055da5;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    border: 1px solid #3374a9;
    
}

.scroll a{
	display:block;
	color: white;
	font-size: 20px;
}
/* .scroll span a i{
	
} */