<footer>
    <div class="footer section_20" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <h3 class="f_h3">More Information</h3>
                    <ul >
                        <li><a routerLink="apply-e-visa" title="Apply e-Visa" class="Toproll">Apply e-Visa</a></li>
                        <li><a routerLink="visa-status" title="visa status" class="Toproll" >Visa Status</a></li>
                        <li><a routerLink="about-us" class="Toproll" title="About Us">About Us</a></li>  
                        <li><a routerLink="payment-guidelines" class="Toproll" title="Payment Guidelines">Payment Guidelines</a></li>
                        <li><a routerLink="make-payment" class="Toproll" title="Make Payment">Make Payment</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <h3>Important Links</h3>
                    <ul>
                        <li><a routerLink="embassy-and-consulate/worldwide" class="Toproll"  title="Embassy">Embassy</a></li> 
                        <li><a routerLink="news" class="Toproll" title="News">News</a></li>
                        <li><a routerLink="privacy" class="Toproll" title="Privacy Policies">Privacy</a></li>
                        <li><a routerLink="visa-tips" title="Visa Tips" class="Toproll">Visa Tips</a></li>  
                        <li><a routerLink="refer-a-friend" title="Referral a Friend" class="Toproll">Refer a Friend</a></li>  
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <h3 class="xy_heading">Other Links</h3>
                    <ul >
                        <li> <a routerLink="other-service" title="Other Services" class="Toproll">Other Services</a> </li>
                        <li> <a routerLink="contact-us" class="Toproll" title="Contact Us">Contact Us</a> </li>
                        <li> <a routerLink="faq" title="FAQ" class="Toproll">FAQs</a> </li>
                        <li> <a routerLink="terms-and-conditions" class="Toproll" title="Term And Condition">Terms And Conditions</a> </li> 
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <h3 class="xy_heading">Contact Us</h3>
                    <ul>
                        <li> <a href="mailto:support@visacent.com" target="_blank" title="Support"><i class="far fa-envelope"></i> Support [ @ ] visacent.com</a> </li>
                    </ul>
                    <h3 style="padding-top:2px;" class="xy_heading">Follow Us</h3>
                    <ul class="follow_ul ">
                        <li> <a rel="nofollow" target="_blank" href="https://www.facebook.com/visacents/" class="fb" title="Facebook" ><i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a rel="nofollow" target="_blank" href="https://twitter.com/Visacent/" class="tw" title="Twitter"><i class="fab fa-twitter"></i> </a> </li>
                        <li> <a rel="nofollow" target="_blank" href="https://www.instagram.com/visacents/" class="ins" title="Instagram"><i class="fab fa-instagram"></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © VisaCent. All right reserved.</p>
        </div>
    </div>
    <div id="scroll" class="scroll" title="Top">
        <a class="scroll" id="scroll" title="Top">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
</footer>
