<section class="section_20">
    <div class="container">
        <div class="main_heading main_heading_wbg">
          <h1 class="table_h">Privacy</h1>
          <span></span>
        </div>
      <div class="row">
        <div class="col-md-12">
          <div class="faq_div">
            <p>As per the guidelines, the Personal Data we collect from users are strictly used for the process of Visa process, which includes, applicants name, e-mail address, mailing address, number and person details or any inquiries, we keep all these details totally confidential. We request our applicants to read the privacy Statement carefully before using our website.
              </p>
            <ul class="faq_ul">
              <li>“User’s” Personal Data</li>
              <p>The data we collected from “Users”, is registered under Company database (like date/place of birth, passport number, visa issue and expiry date, supporting documents, phone and email address, permanent address, cookies, connection log, IP address, payment records etc), it is used for the completion of visa application, under the guidelines mentioned in the form as per the standards. Therefore, You are advised hereby to update yourself with the Privacy Policy of our site along with its information gathering procedure.
                </p>
                <li>No Cookies & identifiable Information Tracking 
                  </li>
                 <p>The personal Information, Users shared with our site is entirely confidential and neither shared or disclosed to anyone, nor to the third parties except (user has explicitly agreed to allow such actions). Also, sometimes some advertisements links reflects on other sites too, or it may use cookies, in that case, we are not at all responsible for that information, collected through the use of cookies. 
                  </p>

                  <p>We highly care and protect clients personal data, received us through the website from the<strong>
                     loss, misuse, unauthorized access, disclosure, alteration or destruction</strong>
                     or any other kind of online fraud.
                    </p>
  
                <li>Financial Transactions through the third party
                  </li>
                 <p>To avail the facility of online payments on this site, we have integrated online payment tool. We accept payments through the Bank, Paypal, visa/mastercard, other electronic payments services. To make our clients more comfortable we accept payments via credit cards, PayPal and direct online bank transfers too. The “Users”, Credit card, PayPal account details will be totally secured and transferred to our partners such as Paypal.com.

                  <br /><br />
                  Apart from above all online payments/transactions of users authentication including credit cards processing are conducted  through<strong>
                     Secure Socket Layer/ Transport Layer Security technology.
                  </strong>
                   
                  <br /><strong>
                    Note: For the third party payment gateway, we are not responsible for any privacy policies or practices.</strong>
                  
                 </p>
            
                 <li>Policy Amendments
                  </li>
                <p>We have full right to do any changes or amendment on this site anytime. To make yourself updated, you are requested to visited it occasionally.
                  </p>
                <li>Disclaimer</li><p>Visacent always try to provide accurate information, travel visa and passport requirements are constantly changing and there may be a delay before we are advised of such changes. Therefore, we are unable to guarantee complete accuracy at all times. Processing times and charges given are only for guidance purposes and cannot be guaranteed. Where ‘no’ travel visa is indicated, we recommend this information be confirmed by the carrier and the relevant embassy or consulate. Where information for travel visas upon arrival is given, we always recommend confirmation of this information with the airline and embassy or high commission prior to travel. Travel arrangements should not be confirmed prior to the visa or passport being issued, unless they are a specifically required for that consulate. In such cases, refundable arrangements should be made.
                </p>
                 
                </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  