/* .loader{
    position: relative;
    left: 430px;
   
}
ul li{
    cursor: pointer;
}
#page-wrapper a{
    cursor: pointer;
}
.loader_second{
	position: relative;
    width: 31px;
    left: 376px;
    top: 33px;
}
.loader_first{
	position: relative;
    width: 31px;
    right: 40px;
    top: 33px;
}
.req_select
{
	position: relative;
}
.loader_first{
	position: absolute;
    width: 24px;
    right: 18px;
    top: 9px;
} */

