.select_cont
{
    width: 350px;
    margin-left: auto;
}
.select_cont select
 {
    height: 40px;
    border: 1px solid #ddd;
}


.req_loader
{
    text-align: center;
    position: relative;
}

.dataShow{
    width: 50px;
    text-align: center;
    top: 9px;
}
.req_select
{
	position: relative;
}
.loader_first{
	position: absolute;
    width: 24px;
    right: 18px;
    top: 9px;
}
.chekd{
    color: red
}

.table_div
{
    margin-top:20px;
}
.table_2 p
{
    font-size: 16px;
}
.table_2 p,.table_2 label
{
    margin-bottom: 0px;
}
.table_2 .row
{
    padding-top: 3px;
    padding-bottom: 3px;
}
.table_2 .row:nth-child(odd)
{
    background: #EDEFF1;
}
@media (max-width:767px)
{
    .table_div
    {
        margin-top:0px;
    }
    
    .select_cont
    {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 500px)
{
    .table_2 .col-sm-6 
    {
        width: 50%;
        float:left;
    }
}

@media (min-width: 1400px)
{
    .select_cont select
    {
        height: 45px;
    }
}


@media (max-width:1250px)
{
    
}

.textareaaddress {
    display: block;
    overflow: hidden;
    padding: 2px 7px 4px 7px;
    width: 100%;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.textarea{
    display: block;
    overflow: hidden;
    padding: 2px 7px 4px 7px;
    width: 100%;
    min-height: 35px;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.comments{
    display: block;
    overflow: hidden;
    background: #4A90E2;
    min-height: 100px;
    width: 100%;
    font-size: 14px;
    margin: 2px auto;
    border: 1px solid #b5b5b5;
    background-color: white;
}
.borderCls{
    border: 1px solid red;
}

