<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [speed]="200" [showSpinner]="false" [direction]="'leftToRightIncreased'"
             [color]="'#055ea5'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>
<section class="form_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <form>
                        <h3><i class="far fa-id-card"></i> e-Visa Application</h3>
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="label_container">
                                    <label>Name <i class="fas fa-pencil-alt"></i></label>
                                </div>
                                <div class="element_container">
                                    <input type="text"  />
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="label_container">
                                    <label>Name <i class="fas fa-pencil-alt"></i></label>
                                </div>
                                <div class="element_container">
                                    <input type="text"  />
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="label_container">
                                    <label>Name <i class="fas fa-pencil-alt"></i></label>
                                </div>
                                <div class="element_container">
                                    <input type="text"  />
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="label_container">
                                    <label>Name <i class="fas fa-pencil-alt"></i></label>
                                </div>
                                <div class="element_container">
                                    <input type="text"  />
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="label_container">
                                    <label>Name <i class="fas fa-pencil-alt"></i></label>
                                </div>
                                <div class="element_container">
                                    <input type="text"  />
                                </div>
                            </div>  
                            <div class="col-sm-3 col-xs-6">
                                <div class="label_container">
                                    <label>Name <i class="fas fa-pencil-alt"></i></label>
                                </div>
                                <div class="element_container">
                                    <input type="text"  />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>