.e_visa
{
    width:100%;
    height:500px;
    background-color:red;
}
.ap_head
{
    position: relative;
    margin-bottom: 25px;
}
.ap_head:before
{
    position: absolute;
    content: "";
    width:130px;
    height:2px;
    background-color:black;
    bottom: -10px;
    left:0px;
    right:0px;
    margin-right:auto;
    margin-left:auto;
}
.select_cont
{
    width:350px;margin-left:auto;
}
.select_cont select
{
    height:40px;
    border: 1px solid #ddd;
}
@media (max-width:767px)
{
    .select_cont
    {
        margin-left: auto;
        margin-right:auto;
    }  
}
@media (min-width:1400px)
{
    .select_cont select
    {
        height:45px;
    } 
}