<!-- <section class="banner_sec">
    <div class="section_20" style="background: rgba(0, 94, 165, 0.7);">
        <div class="container">
            <div class="main_heading">
                <h1>Visa Tips</h1>
                <span style="margin-bottom:30px;"></span>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="drop_container drop_container1 embassy_of">
                        <h3>I belong to</h3>
                        <form>
                            <select class="enable_white">
                                <option>Choose Country</option>
                                <option>Vietnam</option>
                                <option>India</option>
                                <option>America</option>      
                            </select>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="drop_container embassy_of">
                        <h3>I need visa for</h3>
                        <form>
                            <select class="enable_white">
                                <option>Choose Country</option>
                                <option>Vietnam</option>
                                <option>India</option>
                                <option>America</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="visa_tips"> 
            <p>Citizens of India can apply online for <a href="javascript:void(0);">Brazil</a> e-Visa (e-Tourist, e-Medical or e-Business visas). You need to upload required documents and photographs after successful payment for your application online. It is the most convenient and the fastest way for anyone wants to get a <a href="javascript:void(0);">Brazil</a> visa.</p>
            <ul class="faq_ul">
                <li>How to apply for Brazil Visa</li>
                <p>You can <a href="javascript:void(0);">apply online</a> or visit your nearest <a href="javascript:void(0);">Brazil Embassy in India.</a>If you choose to apply online, you need to fill and submit an online application form with all the required documents and pay the visa fees online. Your visa to <a href="javascript:void(0);">Brazil</a> will be processed within 4-5 working days under <a href="javascript:void(0);">Brazil</a> Immigration Department's agreements in <a href="javascript:void(0);">India.</a></p>
                <li>What are the charges for Brazil e-Visa?</li>
                <p>e-Visa fee for Brazil can be check in <a href="javascript:void(0);">visa-fees.</a></p>
                <li>Travel documents</li>
                <p>The most important travel document is a passport. Citizens of <a href="javascript:void(0);">India </a>travelling to <a href="javascript:void(0);">Brazil</a> must carry their possession documentation of their identity and nationality. </p>
            </ul> 
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <div class="col-md-12">
            <p class="text-center"><span style="font-size: 36px;color: #005ea5;">Coming Soon!..</span></p>
        </div>
    </div>
</section>
