<section class="section_30" *ngIf="!formPage">
    <div class="container">
        <div class="status_div">
            <div _ngcontent-c4=""  class="main_heading main_heading_wbg">
                <h1 _ngcontent-c4="" class="table_h">Check Status Of Your Visa</h1>
                <span _ngcontent-c4=""></span>
            </div>
            <p class="text-center">
                If you have submitted your application through our website and want to check your e-Visa status,<br /> Please enter you Application Id and Passport No.<br />
            </p>
            <div class="login_div" style="padding-top: 0px;" >
                <form class="contact login" style="width:auto;position: relative;">   
                    <div id="myalert" class="my_alert my_alert_pos my_alert_red" *ngIf="StutasError">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <span class="sus">{{StutasErrorMsg}}</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="label_container">
                                <label id="lbl_appliId" class="pull-left">Application Id <i class="fas fa-pencil-alt"></i></label>
                            </div>
                            <div class="element_container">
                                <input type="text" [(ngModel)]="applicationId" maxlength="30" required class="appliCls enable_white" name="applicationId" (focus)="removclsAppli()"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="label_container">
                                <label id="lbl_passNo" class="pull-left">Passport No <i class="far fa-id-card"></i></label>
                            </div>
                            
                            <div class="element_container">
                                <input type="text" class="passCls enable_white" maxlength="20" required [(ngModel)]="passportNo" name="passportNo" (focus)="removclsPass()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="my_btn" (click)="statusUser()">Proceed</button>
                        </div>
                    </div>
                    <div style="text-align: center;font-size: 19px;">
                            <i class="fas fa-hand-point-right" style="color:#005ea5;"></i> &nbsp;Check <a routerLink="/visa-requirements" title="visa requirements">visa requirements</a> for all countries and start a visa application.
                    </div>
                </form>
            </div>
        </div>      
    </div>
</section>
<section class="section_30"  *ngIf="formPage">
    <div class="container">
        <div class="main_heading main_heading_wbg">
            <h1 class="table_h">Visa Status</h1>
            <span></span>
        </div> 
        <div class="row" *ngFor="let order of order_detail_data">
        	<div class="col-md-12">
            	<div class="item">
                	<article>
     					<div class="my_row">
                        	<div class="my_col">Order Id</div>
                            <div class="my_col"><p>{{order.orderId}}</p></div>
                        </div>
                        <div class="my_row">
                        	<div class="my_col">Arrival Date</div>
                            <div class="my_col"><p>{{order.arrival_date}} (DD-MM-YYYY)</p></div>
                        </div>
                    </article>
                    <article>
                    	<div class="my_row">
                        	<div class="my_col">Visa For Country</div>
                            <div class="my_col"><p>{{order.visa_for_country}}</p></div>
                        </div>
                        <div class="my_row">
                        	<div class="my_col">Applicant No</div>
                            <div class="my_col"><p>{{order.applicant_no}}</p></div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
       
    </div>
    <div class="">
<!--
        <div class="account_css_scroll" >
            <table id="appli_pass_tbl" class="table_order">
                <thead >
                    <tr style="background-color:#005ea5;color:white;font-size:18px;font-family: 'Hammersmith One';">
                        <th style="text-align: center;">Full Name</th>
                        <th style="text-align: center;">Nationality</th>
                        <th style="text-align: center;">Passport No.</th>
                        <th style="text-align: center;">Visa Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let apli of applicationData">
                        <td align="center" style="text-transform: capitalize;">{{apli.givenname}}</td>
                        <td align="center" style="text-transform: capitalize;">{{apli.acquire_nationality}}</td>
                        <td align="center" style="text-transform: capitalize;">{{apli.passport_no}}</td>
                        <td align="center" style="text-transform: capitalize;">{{apli.visa_status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
--> <div class="status_div" style="margin-top:25px;">
        <article *ngFor="let apli of applicationData">
            <div class="st_row" style="border-bottom: none;">
                <div class="st_col" style="color:#005ea5;font-family: 'Hammersmith One';">Status</div>
                <div class="st_col" style="color:#005ea5;font-family: 'Hammersmith One';"></div>
            </div>
            <div class="st_row">
                <div class="st_col">Full Name</div>
                <div class="st_col">{{apli.givenname}}</div>
            </div>
            <div class="st_row">
                <div class="st_col">Nationality</div>
                <div class="st_col">{{apli.nationality}}</div>
            </div>
            <div class="st_row">
                <div class="st_col">Passport No</div>
                <div class="st_col">{{apli.passport_no}}</div>
            </div>
            <div class="st_row" style="border-bottom: none;">
                <div class="st_col">Visa Status</div>
                <div class="st_col" *ngIf="apli.visa_status=='pending'" style="color: red;text-align: right;">{{apli.visa_status}}</div>                
                <div class="st_col" *ngIf="apli.visa_status=='success'" style="color: #3dce2d;text-align: right;">{{apli.visa_status}}</div>
                <span (click)="imageView()" style="color: orange;cursor: pointer;position: relative;float: right;" *ngIf="(appli_visa==undefined || appli_visa==null || appli_visa.type=='JPG' || appli_visa==null || appli_visa.type=='jpeg' || appli_visa.type==undefined)">View Visa</span>
                <span (click)="pdfView()" style="color: orange;cursor: pointer;position: relative;float: right;" *ngIf="(appli_visa==undefined || appli_visa==null || appli_visa.type=='pdf' || appli_visa.type==undefined)">View Visa</span>
            </div>
            <div class="container">
                <button type="button" class="btn btn-info btn-lg hidden" id="popupImage" data-toggle="modal" data-target="#popupImg">Open Modal</button>
                <div class="modal fade" id="popupImg" role="dialog">
                    <div class="modal-dialog pdf" >
                        <div class="modal-content" style="text-align: center">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div *ngIf="!imageDownload" class="modal_body" style="padding-left: 15px; padding-right: 15px;height: 450px;"></div>
                            <a *ngIf="imageDownload" href={{appli_visa.visas}} download class="">Download
                                <div class="modal_body" style="padding-left: 15px; padding-right: 15px;"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    </div>
</section>
<div *ngIf="process" class="preloader"> 
    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve">
        <g>
            <path d="M78.75 16.18V1.56a64.1 64.1 0 0 1 47.7 47.7H111.8a49.98 49.98 0 0 0-33.07-33.08zM16.43 49.25H1.8a64.1 64.1 0 0 1 47.7-47.7V16.2a49.98 49.98 0 0 0-33.07 33.07zm33.07 62.32v14.62A64.1 64.1 0 0 1 1.8 78.5h14.63a49.98 49.98 0 0 0 33.07 33.07zm62.32-33.07h14.62a64.1 64.1 0 0 1-47.7 47.7v-14.63a49.98 49.98 0 0 0 33.08-33.07z" fill="#005ea5" fill-opacity="1"/>
            <animateTransform attributeName="transform" type="rotate" from="0 64 64" to="90 64 64" dur="1800ms" repeatCount="indefinite">
            </animateTransform>
        </g>
    </svg>
</div>
