.borderColor{
    border: 1px solid red;
}

.application_info
{
        width: 100%;
    /* background: #e9f6ff; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    /* border: 2px solid #dcf0ff; */
    padding-left: 60px;
    padding-right: 60px;
}
.application_info h3
{
    margin-bottom:15px;
}
.application_info .left_label,.application_info p
{
    font-size: 20px;
}
.application_info>.row
{
    margin-bottom:15px;
    border-bottom: 1px solid #edeef1;
}
.application_info>.row:last-child
{
    border-bottom: none;
}
.application_info .row>div:nth-of-type(2) p
{
    text-align: right;
}

.status_div>article
{
    width:100%;
    max-width: 550px;
    border: 1px solid #e2e2e2;
    margin: 25px auto;
    box-shadow: 0px 10px 10px -9px rgba(0, 0, 0, 0.5);
}

.st_row
{
    overflow:hidden;
    border-bottom: 1px solid #dedede;
    /*padding: 10px 0px;*/
    /*padding-left: 20px;*/
}
.st_row:first-child
{
    background-color:#005ea5;
    padding:6px 20px;
}

.st_row .st_col
{
    float:left;
}
.st_row .st_col:first-child
{
    font-family: 'Hammersmith One';
    width:calc(150px);
}
.st_row .st_col:last-child
{
    text-align: left;
    width:calc(100% - 150px);
    padding-left: 16px;
    padding-top:6px;
}

.st_row:not(:first-child) .st_col:first-child
{
    border-right:1px solid #dedede;
    padding: 8px 0px 8px 20px;
    margin-right: 0px;
}


.item
{
    overflow: hidden;
    width:815px;
    margin:0 auto;
    }
.item>article
{
    width:50%;
    float:left;
    }
.my_row
{
    overflow:hidden;    
    }
.my_row .my_col
{
    float:left; 
    border:none;
    }
.my_row .my_col:first-child
{
    width:180px;
    font-family: 'Hammersmith One';
    font-size: 18px;
    }
.my_row .my_col:last-child
{
    width:calc(100% - 180px);
    font-size: 17px;
    }


@media (min-width:1400px)
{
    .item,.status_div article
    {
        transform: scale(1.05,1.05);
    }                      
}
@media (min-width:0px)
{
   
    .st_row .st_col
    {
        font-size:17px;
    }   
}
@media (min-width:600px)
{
    
    .st_row .st_col
    {
        font-size:18px;
    }
}

@media (max-width:860px)
{
    .item
    {
        width:100%;
        }
    .item > article:nth-of-type(1) 
    {
        width: 45%;
    }
    .item > article:nth-of-type(2) 
    {
        width: 55%;
    }
}
@media (max-width:810px)
{
    .item > article:nth-of-type(1),.item > article:nth-of-type(2) 
    {
        width: 100%;
    }
}
@media (max-width:600px)
{
    .item
    {
        width:100%;
    }
    
}
@media (max-width:460px)
{
   
    
    .st_row .st_col:first-child
    {
        width: 42%;
    }
    .st_row .st_col:last-child
    {
        width: 58%;
    }
}
