<section class="section_30">
    <div class="container">
        <div class="main_heading main_heading_wbg">
            <h1>Services We Offer</h1>
            <span style="margin-bottom:30px;"></span>
        </div>
        <p style="font-size: 20px;text-align: center;margin-bottom: 17px;font-style: italic;">
            <span style="vertical-align: super;display: inline-block;margin-right: 9px;color: #d2d2d2;font-size: 15px;"><i class="fas fa-quote-left"></i></span>We love to craft your holidays more interesting and relaxed with adding extra 
            benefits during your travel.<span style="vertical-align: super;display: inline-block;margin-left: 9px;color: #d2d2d2;font-size: 15px;transform:scale(-1);"><i class="fas fa-quote-left"></i></span></p>
            <h3 style="margin-bottom: 15px;text-align: center;">Visa for other countries:- <span style="color: #333;font-family: lato;font-size: 19px;">We provide service to apply visa for other countries. Please follow the link of websites and apply for Visa.</span></h3>
        <div class="row ">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <article class="visa_country">
                    <a title="Indian Visa" href="https://indiaevisas.org/" target="_blank">
                        <aside>
                            <i class="india"></i>
                        </aside>
                        <h3>Indian Visa</h3>
                        <p>You can apply online for Business, Visitor or Medical visas for India. You can upload supporting documents, photographs and also pay for your application online. It's faster and easier to apply online.</p>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <article class="visa_country">
                    <a title="Vietnamese Visa" href="https://vietnammyvisa.org/" target="_blank">
                        <aside>
                            <i class="vietnam"></i>
                        </aside>
                        <h3>Vietnamese Visa</h3>
                        <p>Visa on Arrival visas are nonimmigrant visas for persons who want to enter the Vietnam temporarily for business, tourism, pleasure or visiting, or a combination of both purposes.One can apply for the “Vietnam On Arrival” by apply online or in person at the Embassy.</p>
                    </a>
                </article>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <article class="visa_country">
                    <a title="Myanmar Visa" href="https://myanmarevisagov.org/" target="_blank">
                        <aside>
                            <i class="myanmar"></i>
                        </aside>
                        <h3>Myanmar Visa</h3>
                        <p>We are glad to inform all of our visitors that the official Express Service for Tourist Visa has launched. All the visitors can avail this new service by applying for a regular Tourist Visa and get fast application processing within 24 hours. Please visit and and apply visa for Myanmar.</p>
                    </a>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <article class="text-center">
                    <h3 style="color:black;margin-top:20px;">Feel free to <a routerLink="/contact-us" style="text-transform:capitalize;" title="contact us">contact us</a> anytime !</h3>
                </article>
            </div>
        </div>
    </div>
</section>
