<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="text-center">
                    <div class="main_heading main_heading_wbg">
                        <h1>Services We Offer</h1>
                        <span style="margin-bottom:30px;"></span>
                    </div>
                    <p style="font-size: 20px;">We love to craft your holidays more interesting and relaxed with adding extra 
                        benefits during your travel.</p>
                    <p><label style="font-size:30px;color:#005ea5;font-family: lato;">We will be starting more services very soon.</label></p>
                    <h3 style="color:black;">Feel free to <a routerLink="/contact-us" style="text-transform:capitalize;">contact us</a> anytime !</h3>
                </article>
            </div>
        </div>
    </div>
</section>
